{
	"root": true,
	"parser": "@babel/eslint-parser",
	"extends": "eslint:recommended",
	"env": {
		"browser": true,
		"node": true,
		"jquery": true,
		"es6": true
	},
	"globals": {
		"wp": "readonly",
		"ajaxurl": "readonly",
		"grecaptcha": "readonly",
		"everest_forms_form_preview": "readonly",
		"everest_forms_pro": "readonly",
		"everest_forms_survey_polls_quiz_script_params": "readonly",
		"Mailcheck": "readonly",
		"flatpickr": "readonly",
		"tinyMCE": "readonly"
	},
	"settings": {
		"react": {
			"version": "detect",
			"max-len": [
				2,
				{
					"code": 350
				}
			]
		}
	},
	"rules": {
		"max-nested-callbacks": [
			2,
			4
		],
		"no-mixed-spaces-and-tabs": [
			2,
			"smart-tabs"
		]
	}
}
