{
	"root": true,
	"parser": "@babel/eslint-parser",
	"extends": "eslint:recommended",
	"env": {
		"browser": true,
		"node": true,
		"jquery": true
	},
	"globals": {
		"wp": "readonly",
		"ajaxurl": "readonly",
		"grecaptcha": "readonly"
	},
	"settings": {
		"react": {
			"version": "detect",
			"max-len": [
				2,
				{
					"code": 350
				}
			]
		}
	},
	"rules": {
		"max-nested-callbacks": [
			2,
			4
		],
		"no-mixed-spaces-and-tabs": [
			2,
			"smart-tabs"
		]
	}
}
