*.min.js

/assets/js/flatpickr/**
/assets/js/inputmask/**
/assets/js/jquery-blockui/**
/assets/js/jquery-confirm/**
/assets/js/jquery-validate/**
/assets/js/perfect-scrollbar/**
/assets/js/selectWoo/**
/assets/js/tooltipster/**
/assets/js/code-mirror/**
/assets/js/dropzone/**
/assets/js/intlTelInput/**
/assets/js/jquery-tiptip/**
/assets/js/mailcheck/**
/assets/js/wp-color-picker/**
