.evf-clean-talk-label-1 {
	font-size: 16px;
	font-weight: 500;
}
.evf-clean-talk-label-2 {
	font-size: 13px;
	font-weight: 400;
}
#evf-clean-talk-section-container .evf-clean-talk-radio {
	display: flex;
	margin: 12px 0;
	gap: 24px;
	align-items: center;
}
