.everest-forms .everest-forms-settings-container .everest-forms-integration-back-button {
	padding: 8px 12px;
	border: 1px solid #2271b1;
	display: block;
	width: max-content;
	margin-bottom: 20px;
	border-radius: 3px;
	font-size: 14px;
	line-height: 16px;
}
