/**
 * _animation.scss
 * Custom EverestForms Animations.
 */
@keyframes spin {
	100% {
		transform: rotate( 360deg );
	}
}

@keyframes rotating {
	25% {
		transform: rotate(-2deg);
	}

	75% {
		transform: rotate(2deg);
	}

	100% {
		transform: rotate(0);
	}
}
