/**
 * Background Colors
 **/
.evf-bg-primary {
	background: $everestforms;
}

.evf-bg-primary-soft {
	background: $everestforms-soft;
}


/**
 * Colors
 **/
.evf-color-white {
	color: $color-white;
}

.evf-color-primary {
	color: $everestforms;
}
