/**
* _fonts.scss
* Custom EverestForms fonts.
*/
@font-face {
	font-family: 'EverestForms';
	src:  url('../fonts/EverestForms.eot?y4gcfu');
	src:  url('../fonts/EverestForms.eot?y4gcfu#iefix') format('embedded-opentype'),
		url('../fonts/EverestForms.ttf?y4gcfu') format('truetype'),
		url('../fonts/EverestForms.woff?y4gcfu') format('woff'),
		url('../fonts/EverestForms.svg?y4gcfu#EverestForms') format('svg');
	font-weight: normal;
	font-style: normal;
}
