/**
 * _fonts.scss
 * Custom EverestForms fonts.
 */
@font-face {
	font-family: 'EverestForms';
	src: url('../fonts/EverestForms.eot?l00bnz');
	src: url('../fonts/EverestForms.eot?l00bnz#iefix') format('embedded-opentype'),
		url('../fonts/EverestForms.ttf?l00bnz') format('truetype'),
		url('../fonts/EverestForms.woff?l00bnz') format('woff'),
		url('../fonts/EverestForms.svg?l00bnz#EverestForms') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}
