/**
 * _fonts.scss
 * Custom EverestForms fonts.
 */
 @font-face {
	font-family: 'EverestForms';
	src: url('../fonts/EverestForms.eot?a49h9u');
	src: url('../fonts/EverestForms.eot?a49h9u#iefix') format('embedded-opentype'),
		 url('../fonts/EverestForms.ttf?a49h9u') format('truetype'),
		 url('../fonts/EverestForms.woff?a49h9u') format('woff'),
		 url('../fonts/EverestForms.svg?a49h9u#EverestForms') format('svg');
	font-weight: normal;
	font-style: normal;
}
