/**
 * Table Stucture
 **/

.everest-forms-table {
	width: 100%;
	color: $body-text;
	border-collapse: collapse;

	th,
	td {
		padding: 16px;
		vertical-align: top;
		border-top: 1px solid $border-color;
	}

	thead {
		th {
			vertical-align: bottom;
			background: $color_gray-light-skin;
			color: $color_gray-light;
			font-weight: 500;
			text-align: inherit;
			border-bottom: 1px solid $border-color;
		}
	}
}

// Scroll behaviour for responsive devices
.table-responsive {
	display: block;
	width: 100%;
	overflow-x: auto;
}
