/**
 * EverestForms CSS Variables
 */

$everestforms:   	#7f5aec;
$green:         	#51cf66;
$red:           	#a00;
$orange:        	#ffba00;
$blue:          	#2ea2cc;

$primary:           #ff0033;                                  // Primary color for buttons (alt)
$primarytext:       desaturate(lighten($primary, 52%), 18%);  // Text on primary color bg

$secondary:         desaturate(lighten($primary, 44%), 91%);  // Secondary buttons
$secondarytext:     desaturate(darken($secondary, 64%), 91%); // Text on secondary color bg
