/**
 * admin-entries.scss
 */
.wp-list-table.forms {
	.column-entries {
		width: 75px;
	}
}

.wp-list-table.entries {
	.column-actions {
		width: 175px;
	}
	.submitdelete:hover {
		color: #a00;
	}
}

#everest-forms-entry-fields {

	table {
		border: none;
	}

	span.list {
		display: block;
	}

	.everest-forms-empty-field-toggle {
		float: right;
		padding: 3px 0 0;
		text-decoration: none;
	}
}

#everest-forms-entry-details {
	.submitdelete {
		color: #a00;
		padding: 1px 2px;
		text-decoration: none;
	}

	.everest-forms-entry-details-meta {
		padding: 6px 0 0;

		p {
			margin: 0;
			padding: 6px 10px 8px;
		}
	}
}

.everest-forms-entry {
	#poststuff {
		.hndle {
			cursor: inherit;
		}
		.inside {
			margin: 0;
			padding: 0;
		}
	}
}

.everest-forms-BlankState {
	text-align: center;
	padding: 5em 0 0;

	.everest-forms-BlankState-icon {
		fill: #ddd;
		width: 128px;
		height: 128px;
		margin: 0 0 .875em;
	}

	.everest-forms-BlankState-message {
		color: #aaa;
		margin: 0 auto 1.5em;
		line-height: 1.5em;
		font-size: 1.2em;
		max-width: 500px;
	}

	.everest-forms-BlankState-cta {
		font-size: 1.2em;
		padding: 0.75em 1.5em;
		height: auto;
		display: inline-block !important;
	}
}
