/**
 * admin.scss
 * General EverestForms admin styles.
 */

/**
 * Import
 */
@import 'fonts';
@import 'mixins';
@import 'variables';
@import 'animation';
@import 'scss/colors';
@import 'scss/confirm';
@import 'scss/buttons';
@import 'scss/evf-icon';

/**
 * Styling begins
 */
.blockUI.blockOverlay {
	@include loader();
}

.evf_addons_wrap {

	p.refresh {
		margin: 0 0 2em;
	}

	.plugin-card {
		.name,
		.desc {
			margin-right: 0;
		}
		.plugin-card-top {
			padding: 20px;
			min-height: 130px;

			.plugin-desc {
				overflow: hidden;
				display: -webkit-box;
				-webkit-line-clamp: 4;
				-webkit-box-orient: vertical;
			}

			.plugin-icon {
				border: 1px solid #eee;
			}
		}
		.plugin-card-bottom {
			.status {
				text-align: left;
				float: left;
				clear: left;
				width: 65%;
				padding-top: 5px;
				width: calc(100% - 180px);

				span.status-label {
					color: #666;

					&.status-active {
						color: #2a9b39;
					}

					&.status-inactive {
						color: #a00;
					}
				}
			}

			.action-buttons {
				float: right;
				clear: right;
				max-width: 180px;

				&.upgrade-plan {
					margin: 0 auto;
				}
			}
		}
	}

	.plugin-card-update-failed {
		.notice-error {
			padding: 9px 16px 8px;

			.notice-dismiss {
				padding: 17px;
			}
		}
	}

	@media screen and (max-width: 782px) {
		.plugin-card {
			.plugin-card-bottom {
				.status {
					padding-top: 9px;
				}

				.action-buttons {
					.button.updating-message {
						&:before,
						&:after {
							margin-top: -1px;
						}
					}
				}
			}
		}

		.plugin-card-update-failed {
			.notice-error {
				padding: 13px 20px;

				.notice-dismiss {
					padding: 21px;
				}
			}
		}
	}
}

.clear {
	clear: both;
}

.wrap.everest-forms div.updated,
.wrap.everest-forms div.error {
	margin-top: 10px;
}

/**
 * Help Tip
 */
.everest-forms-help-tip {
	color: #666;
	display: inline-block;
	font-size: 1.1em;
	font-style: normal;
	height: 16px;
	line-height: 16px;
	position: relative;
	vertical-align: middle;
	width: 16px;

	&::after {
		@include icon_dashicons( '\f223' );
		cursor: help;
	}
}

h2 .everest-forms-help-tip {
	margin-top: -5px;
	margin-left: 0.25em;
}

.clear {
	clear: both;
}

.wrap.everest-forms div.updated,
.wrap.everest-forms div.error {
	margin-top: 10px;
}

.everest-forms_page_edit-evf-form,
.everest-forms_page_evf-settings {
	#wpcontent {
		padding-left: 0;
	}

	.everest-forms {
		margin: 0;

		nav.evf-nav-tab-wrapper {
			padding: 0;
			display: flex;
			margin: 0 0 1.5em;
			border-bottom: none;
			background-color: $everestforms;

			a.nav-tab {
				color: #fff;
				margin-left: 0;
				display: block;
				cursor: pointer;
				font-size: 12px;
				font-weight: 400;
				line-height: 24px;
				padding: 10px 30px;
				border: none transparent;
				background-color: transparent;
				transition: 0.5s background-color ease-in-out;

				.evf-icon,
				.dashicons,
				.dashicons-before:before {
					width: auto;
					height: auto;
					display: block;
					font-size: 32px;
					text-align: center;
				}

				&.nav-tab-active {
					background-color: #f1f1f1;
					color: $color-gray-darker;

					&:focus {
						box-shadow: none;
					}
				}

				&:focus {
					box-shadow: none;
				}

				&:hover:not(.nav-tab-active) {
					background: $header-shade;
				}
			}
		}

		.everest-forms-settings {
			padding-left: 20px;
			padding-right: 20px;

			h2 {
				font-size: 20px;
			}

			textarea,
			input[type="text"],
			input[type="email"],
			input[type="number"],
			select {
				color: #555;
				box-shadow: none;
				border-radius: 3px;
				border: 1px solid #ddd;

				&:focus {
					border-color: #bbb;
				}
			}

			.form-table {
				tr {
					border-bottom: 1px solid #e4e4e4;

					&:first-child {
						border-top: 1px solid #e4e4e4;
					}
				}

				th {
					padding-top: 25px;
					vertical-align: middle;

					.everest-forms-help-tip {
						margin: 0;
						transform: translateY(-50%);
					}
				}

				td {
					padding: 25px 0;
				}
			}
		}
	}
}

/**
 * Form Builder styles
 */
.everest-forms_page_edit-evf-form {
	#everest-forms-builder {
		position: fixed;
		width: calc(100% - 160px);

		* {
			box-sizing: border-box;
		}

		a {
			text-decoration: none;

			&:focus {
				outline: none;
				box-shadow: 0 0 0 rgba(0, 0, 0, 0);
			}
		}

		.after-label-description {
			float: right;
		}

		.everest-forms-nav-wrapper {
			background-color: $everestforms;

			nav.evf-nav-tab-wrapper {
				margin: 0;
				float: left;
			}

			.evf-forms-nav-right {
				float: right;
				margin: 21px 55px 19px 0;

				.evf-shortcode-field {
					display: inline-block;
					vertical-align: middle;

					input {
						margin: 0;
						width: 225px;
						padding: 3px 10px;
						line-height: 26px;
						border-radius: 3px 0 0 3px;
					}

					button {
						padding: 0;
						width: 34px;
						height: 34px;
						margin-left: -4px;
						border-radius: 0 3px 3px 0;
						background-color: $header-shade;

						.dashicons {
							margin-top: 2px;
						}
					}
				}

				.everest-forms-save-button {
					cursor: pointer;
					margin-left: 15px;
					padding: 4px 22px;
					display: inline-block;
					vertical-align: middle;
					text-transform: uppercase;

					&:focus {
						outline: none;
					}

					.spinner,
					.evf-loading {
						width: 14px;
						height: 14px;
						margin-top: 5px !important;
						margin-left: 5px !important;
						background-size: 14px 14px;
					}
				}
			}
		}

		.everest-forms-panel-sidebar,
		.everest-forms-panel-content-wrap {
			height: calc(100vh - 150px);
			overflow-y: auto;
			overflow-x: hidden;

			&::-webkit-scrollbar {
				width: 8px;
			}

			&::-webkit-scrollbar-thumb {
				background-color: $input-color;
			}

			&::-webkit-scrollbar,
			&::-webkit-scrollbar-track {
				background-color: $color-border-right;
			}

			&::-webkit-scrollbar,
			&::-webkit-scrollbar-track,
			&::-webkit-scrollbar-thumb {
				border-radius: 8px;
				visibility: hidden;
			}

			&:hover {
				&::-webkit-scrollbar,
				&::-webkit-scrollbar-track,
				&::-webkit-scrollbar-thumb {
					visibility: visible;
				}
			}
		}

		.everest-forms-panel-sidebar {

			.inside-field-tab {
				display: flex;
				flex-wrap: wrap;

				a {
					width: 50%;
					display: block;
					padding: 15px 0;
					text-align: center;
					color: $color-gray-darken;
					background: $accordion-content-bg;
					border-top: 1px solid #e0e3e6;
					border-bottom: 1px solid #e0e3e6;

					&.active {
						background: #F9FAFC;
						border-bottom: none;
					}

					&:first-child {
						border-right: 1px solid #e0e3e6;
					}
				}
			}
		}
	}
}

/**
 * Settings
 */
.everest-forms {

	h2.evf-nav-tab-wrapper {
		margin-bottom: 1em;
	}

	nav.evf-nav-tab-wrapper {
		margin: 1.5em 0 1em;
	}

	.subsubsub {
		margin: -8px 0 0;
	}

	.evf-admin-breadcrumb {
		margin-left: 0.5em;
		a {
			color: #a46497;
		}
	}

	#template div {
		margin: 0;

		p .button {
			float: right;
			margin-left: 10px;
			margin-top: -4px;
		}

		.editor textarea {
			margin-bottom: 8px;
		}
	}

	textarea[disabled='disabled'] {
		background: #dfdfdf !important;
	}

	table.form-table {
		margin: 0;
		position: relative;
		table-layout: fixed;

		.forminp-radio ul {
			margin: 0;
			li {
				line-height: 1.4em;
			}
		}

		input[type="text"],
		input[type="number"],
		input[type="email"] {
			height: auto;
		}

		textarea.input-text {
			height: 100%;
			min-width: 150px;
			display: block;
		}

		// Give regular settings inputs a standard width and padding.
		textarea,
		input[type="text"],
		input[type="email"],
		input[type="number"],
		input.regular-input {
			width: 350px;
			margin: 0;
			padding: 6px;
			box-sizing: border-box;
			vertical-align: top;
		}

		select {
			width: 350px;
			margin: 0;
			box-sizing: border-box;
			height: 32px;
			line-height: 32px;
			vertical-align: top;
		}

		input[size] {
			width: auto !important;
		}

		// Ignore nested inputs.
		table {
			select,
			textarea,
			input[type="text"],
			input[type="email"],
			input[type="number"],
			input.regular-input {
				width: auto;
			}
		}

		textarea.wide-input {
			width: 100%;
		}

		img.help_tip,
		.everest-forms-help-tip {
			padding: 0;
			margin: -4px 0 0 5px;
			vertical-align: middle;
			cursor: help;
			line-height: 1;
		}

		span.help_tip {
			cursor: help;
			color: $blue;
		}

		th {
			position: relative;
			padding-right: 24px;
		}

		th label {
			position: relative;
			display: block;

			img.help_tip,
			.everest-forms-help-tip {
				margin: -8px -24px 0 0;
				position: absolute;
				right: 0;
				top: 50%;
			}
		}

		th label,
		th.titledesc {
			color: #444;
		}

		th label + .everest-forms-help-tip {
			margin: 0 0 0 0;
			position: absolute;
			right: 0;
			top: 20px;
		}

		.select2-container {
			vertical-align: top;
			margin-bottom: 3px;
		}

		table.widefat th {
			padding-right: inherit;
		}

		.wp-list-table .everest-forms-help-tip {
			float: none;
		}

		fieldset {
			margin-top: 4px;

			img.help_tip,
			.everest-forms-help-tip {
				margin: -3px 0 0 5px;
			}

			p.description {
				margin-bottom: 8px;
			}

			&:first-child {
				margin-top: 0;
			}
		}

		.iris-picker {
			z-index: 100;
			display: none;
			position: absolute;
			border: 1px solid #ccc;
			border-radius: 3px;
			box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);

			.ui-slider {
				border: 0 !important;
				margin: 0 !important;
				width: auto !important;
				height: auto !important;
				background: none transparent !important;

				.ui-slider-handle {
					margin-bottom: 0 !important;
				}
			}
		}

		.iris-error {
			background-color: #ffafaf;
		}

		.colorpickpreview {
			padding: 7px 0;
			line-height: 1em;
			display: inline-block;
			width: 26px;
			border: 1px solid #ddd;
			font-size: 14px;
		}
	}

	.everest-forms-save-button {
		padding: 5px 15px;
		height: auto;
		border: none;
		box-shadow: none;
		text-shadow: none;
		background: $green;
		transition: 0.25s all ease-in-out;

		&:hover,
		&:focus,
		&:active {
			outline: none;
			box-shadow: none;
			border-color: $green;
			background: desaturate(darken($green, 10%), 5%);
		}
	}
}

/**
 * DB log viewer
 */
.wp-list-table.logs {

	.log-level {
		display: inline;
		padding: .2em .6em .3em;
		font-size: 80%;
		font-weight: bold;
		line-height: 1;
		color: #fff;
		text-align: center;
		white-space: nowrap;
		vertical-align: baseline;
		border-radius: .2em;

		&:empty {
			display: none;
		}
	}

	/**
	 * Add color to levels
	 *
	 * Descending severity:
	 *   emergency, alert -> red
	 *   critical, error  -> orange
	 *   warning, notice  -> yellow
	 *   info             -> blue
	 *   debug            -> gree
	 */

	.log-level--emergency,
	.log-level--alert {
		background-color: #ff4136;
	}
	.log-level--critical,
	.log-level--error {
		background-color: #ff851b;
	}
	.log-level--warning,
	.log-level--notice {
		color: #222;
		background-color: #ffdc00;
	}
	.log-level--info {
		background-color: #0074d9;
	}
	.log-level--debug {
		background-color: #3d9970;
	}

	// Adjust log table columns only when table is not collapsed
	@media screen and ( min-width: 783px ) {
		.column-timestamp {
			width: 18%;
		}
		.column-level {
			width: 14%;
		}
		.column-source {
			width: 15%;
		}
	}
}

#log-viewer-select {
	padding: 10px 0 8px;
	line-height: 28px;
	h2 a {
		vertical-align: middle;
	}
}

#log-viewer {
	background: #fff;
	border: 1px solid #e5e5e5;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
	padding: 5px 20px;

	pre {
		font-family: monospace;
		white-space: pre-wrap;
		word-wrap: break-word;
	}
}

/**
 * Tooltips
 */
.tips {
	cursor: help;
	text-decoration: none;
}

img.tips {
	padding: 5px 0 0;
}

#tiptip_holder {
	display: none;
	z-index: 8675309;
	position: absolute;
	top: 0;
	/*rtl:ignore*/
	left: 0;


	&.tip_top {
		padding-bottom: 5px;

		#tiptip_arrow_inner {
			margin-top: -7px;
			margin-left: -6px;
			border-top-color: #333;
		}
	}

	&.tip_bottom {
		padding-top: 5px;

		#tiptip_arrow_inner {
			margin-top: -5px;
			margin-left: -6px;
			border-bottom-color: #333;
		}
	}

	&.tip_right {
		padding-left: 5px;

		#tiptip_arrow_inner {
			margin-top: -6px;
			margin-left: -5px;
			border-right-color: #333;
		}
	}

	&.tip_left {
		padding-right: 5px;

		#tiptip_arrow_inner {
			margin-top: -6px;
			margin-left: -7px;
			border-left-color: #333;
		}
	}
}

#tiptip_content,
.chart-tooltip,
.evf_error_tip {
	color: #fff;
	font-size: 0.8em;
	max-width: 150px;
	background: #333;
	text-align: center;
	border-radius: 3px;
	padding: 0.618em 1em;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);

	code {
		padding: 1px;
		background: #888;
	}
}

#tiptip_arrow,
#tiptip_arrow_inner {
	position: absolute;
	border-color: transparent;
	border-style: solid;
	border-width: 6px;
	height: 0;
	width: 0;
}

/*rtl:raw:
#tiptip_arrow {
	right: 50%;
	margin-right: -6px;
}
*/

.evf_error_tip {
	max-width: 20em;
	line-height: 1.8em;
	position: absolute;
	white-space: normal;
	background: #d82223;
	margin: 1.5em 1px 0 -1em;
	z-index: 9999999;

	&::after {
		content: '';
		display: block;
		border: 8px solid #d82223;
		border-right-color: transparent;
		border-left-color: transparent;
		border-top-color: transparent;
		position: absolute;
		top: -3px;
		left: 50%;
		margin: -1em 0 0 -3px;
	}
}

/**
 * Small screen optimisation
 */
@media only screen and (max-width: 1280px) {}

/**
 * Optimisation for screens 900px and smaller
 */
@media only screen and (max-width: 900px) {}

/**
 * Optimisation for screens 782px and smaller
 */
@media screen and (max-width: 782px) {
	.evf-nav-tab-wrapper {
		overflow-x: auto;
	}
	.everest-forms_page_evf-settings {
		.everest-forms {
			.everest-forms-settings {
				table {
					&.form-table {
						th {
							padding: 15px 0 15px;
						}
					}
				}
			}
		}
	}
}

/**
 * Optimisation for screens 500px and smaller
 */
@media screen and (max-width: 500px) {
	.everest-forms .evf-nav-tab-wrapper a.nav-tab {
		padding: 10px;

		.dashicons,
		.dashicons-before:before {
			display: none;
		}
	}
}
