/*=====  Light colors  ======*/
/*==========  Brand-colors  ==========*/
/*==========  Alert Colors  ==========*/
/*==========  Typography Colors  ==========*/
.clearfix::before,
.clearfix::after,
.container::before,
.container::after,
.container-fluid::before,
.container-fluid::after,
.tg-row::before,
.tg-row::after {
  display: table;
  content: ""; }

.clearfix::after,
.container::after,
.container-fluid::after,
.tg-row::after {
  clear: both; }

/**
*Everest Forms Style
*/
body {
  margin: 0; }

* {
  box-sizing: border-box; }

.everest-forms_page_edit-evf-form #wpcontent {
  padding-left: 0; }

.everest-forms-add-fields-group .handlediv,
.everest-forms-field-option-group .handlediv {
  float: right; }
  .everest-forms-add-fields-group .handlediv::before,
  .everest-forms-field-option-group .handlediv::before {
    content: '\f142' !important;
    cursor: pointer;
    display: inline-block;
    font: 400 20px/1 'Dashicons';
    line-height: 0.5 !important;
    padding: 4px;
    position: relative;
    right: 0;
    top: 0; }

.everest-forms-add-fields-group.closed .handlediv::before,
.everest-forms-field-option-group.closed .handlediv::before {
  content: '\f140' !important; }

#everest-forms-builder {
  margin: 0; }
  #everest-forms-builder .evf-builder-tabs {
    background-color: #7F5AEC; }
  #everest-forms-builder a {
    text-decoration: none; }
    #everest-forms-builder a:focus {
      outline: none;
      box-shadow: 0 0 0 transparent; }
  #everest-forms-builder .evf-tab-lists {
    padding: 0;
    margin: 0;
    float: left;
    list-style: none;
    display: flex; }
    #everest-forms-builder .evf-tab-lists li {
      margin-bottom: 0; }
      #everest-forms-builder .evf-tab-lists li a {
        font-size: 12px;
        line-height: 24px;
        color: #FFFFFF;
        padding: 10px 30px;
        display: block;
        cursor: pointer;
        transition: 0.5s background-color ease-in-out; }
        #everest-forms-builder .evf-tab-lists li a:hover, #everest-forms-builder .evf-tab-lists li a.active {
          color: #575757;
          background-color: #F9FAFC;
          outline: none; }
        #everest-forms-builder .evf-tab-lists li a:focus {
          outline: none; }
      #everest-forms-builder .evf-tab-lists li .dashicons {
        display: block;
        font-size: 32px;
        width: auto;
        height: auto; }
  #everest-forms-builder .evf_save_form_action_button {
    float: right;
    padding: 7px 22px;
    background-color: #FFFFFF;
    color: #000000;
    font-size: 12px;
    text-transform: uppercase;
    border: 0 none;
    border-radius: 100px;
    margin: 20px 45px 0 20px;
    cursor: pointer; }
    #everest-forms-builder .evf_save_form_action_button:focus {
      outline: none; }
  #everest-forms-builder .evf-tab-content .everest-forms-panel {
    width: 100%;
    display: none; }
    #everest-forms-builder .evf-tab-content .everest-forms-panel.active {
      display: block; }
    #everest-forms-builder .evf-tab-content .everest-forms-panel .everest-forms-panel-sidebar-content {
      display: flex; }
    #everest-forms-builder .evf-tab-content .everest-forms-panel .everest-forms-panel-sidebar {
      background-color: #F9FAFC;
      width: 30%;
      border-right: 1px solid #EBEDF0; }
      #everest-forms-builder .evf-tab-content .everest-forms-panel .everest-forms-panel-sidebar .everest-forms-add-fields {
        padding: 15px 20px; }
      #everest-forms-builder .evf-tab-content .everest-forms-panel .everest-forms-panel-sidebar .everest-forms-add-fields-heading {
        display: block;
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 15px;
        padding-bottom: 10px;
        color: #575757;
        border-bottom: 1px solid #EFEFEF; }
        #everest-forms-builder .evf-tab-content .everest-forms-panel .everest-forms-panel-sidebar .everest-forms-add-fields-heading i {
          float: right;
          font-size: 14px;
          margin-left: 5px;
          line-height: 1.5; }
      #everest-forms-builder .evf-tab-content .everest-forms-panel .everest-forms-panel-sidebar .evf-registered-buttons {
        margin-right: -1.5%;
        margin-left: -1.5%;
        list-style: none;
        padding: 0;
        display: flex;
        flex-wrap: wrap; }
        #everest-forms-builder .evf-tab-content .everest-forms-panel .everest-forms-panel-sidebar .evf-registered-buttons .evf-registered-item {
          margin-left: 1.5%;
          margin-right: 1.5%;
          padding: 20px 8px;
          border: 1px solid #EBEDF0;
          width: 30.3%;
          z-index: 999;
          margin-bottom: 10px;
          color: #969696;
          cursor: pointer;
          border-radius: 2px;
          font-size: 12px;
          transition: 0.5s color ease-in-out, 0.5s border-color ease-in-out;
          text-align: center;
          background-color: #FFFFFF; }
          #everest-forms-builder .evf-tab-content .everest-forms-panel .everest-forms-panel-sidebar .evf-registered-buttons .evf-registered-item .dashicons {
            display: block;
            margin: 0 auto; }
          #everest-forms-builder .evf-tab-content .everest-forms-panel .everest-forms-panel-sidebar .evf-registered-buttons .evf-registered-item:hover {
            color: #7CA8EB;
            border-color: #7CA8EB; }
            #everest-forms-builder .evf-tab-content .everest-forms-panel .everest-forms-panel-sidebar .evf-registered-buttons .evf-registered-item:hover .evf-icon {
              color: inherit; }
          #everest-forms-builder .evf-tab-content .everest-forms-panel .everest-forms-panel-sidebar .evf-registered-buttons .evf-registered-item svg {
            width: 40px;
            height: 40px;
            display: block;
            margin: 0 auto 10px; }
            #everest-forms-builder .evf-tab-content .everest-forms-panel .everest-forms-panel-sidebar .evf-registered-buttons .evf-registered-item svg .cls-1,
            #everest-forms-builder .evf-tab-content .everest-forms-panel .everest-forms-panel-sidebar .evf-registered-buttons .evf-registered-item svg .cls-2,
            #everest-forms-builder .evf-tab-content .everest-forms-panel .everest-forms-panel-sidebar .evf-registered-buttons .evf-registered-item svg .cls-3 {
              fill: #414042;
              transition: 0.5s fill ease-in-out;
              font-size: 7px;
              font-weight: 300; }
          #everest-forms-builder .evf-tab-content .everest-forms-panel .everest-forms-panel-sidebar .evf-registered-buttons .evf-registered-item:hover {
            color: #7CA8EB;
            border-color: #7CA8EB; }
            #everest-forms-builder .evf-tab-content .everest-forms-panel .everest-forms-panel-sidebar .evf-registered-buttons .evf-registered-item:hover svg .cls-1,
            #everest-forms-builder .evf-tab-content .everest-forms-panel .everest-forms-panel-sidebar .evf-registered-buttons .evf-registered-item:hover svg .cls-2,
            #everest-forms-builder .evf-tab-content .everest-forms-panel .everest-forms-panel-sidebar .evf-registered-buttons .evf-registered-item:hover svg .cls-3 {
              fill: #7CA8EB; }
          #everest-forms-builder .evf-tab-content .everest-forms-panel .everest-forms-panel-sidebar .evf-registered-buttons .evf-registered-item.ui-draggable-dragging {
            margin: 0;
            border: 1px solid #7CA8EB;
            width: 105px !important;
            color: #7CA8EB;
            background-color: #FFFFFF; }
            #everest-forms-builder .evf-tab-content .everest-forms-panel .everest-forms-panel-sidebar .evf-registered-buttons .evf-registered-item.ui-draggable-dragging svg .cls-1,
            #everest-forms-builder .evf-tab-content .everest-forms-panel .everest-forms-panel-sidebar .evf-registered-buttons .evf-registered-item.ui-draggable-dragging svg .cls-2,
            #everest-forms-builder .evf-tab-content .everest-forms-panel .everest-forms-panel-sidebar .evf-registered-buttons .evf-registered-item.ui-draggable-dragging svg .cls-3 {
              fill: #7CA8EB; }
      #everest-forms-builder .evf-tab-content .everest-forms-panel .everest-forms-panel-sidebar .evf-setting--checkbox input,
      #everest-forms-builder .evf-tab-content .everest-forms-panel .everest-forms-panel-sidebar .evf-setting--checkbox label,
      #everest-forms-builder .evf-tab-content .everest-forms-panel .everest-forms-panel-sidebar .evf-field-option--checkbox input,
      #everest-forms-builder .evf-tab-content .everest-forms-panel .everest-forms-panel-sidebar .evf-field-option--checkbox label {
        width: auto;
        padding: 0;
        display: inline-block;
        vertical-align: top;
        height: auto; }
      #everest-forms-builder .evf-tab-content .everest-forms-panel .everest-forms-panel-sidebar .evf-setting--checkbox input,
      #everest-forms-builder .evf-tab-content .everest-forms-panel .everest-forms-panel-sidebar .evf-field-option--checkbox input {
        margin: 3px 5px 0 0; }
      #everest-forms-builder .evf-tab-content .everest-forms-panel .everest-forms-panel-sidebar .everest-forms-field-options {
        display: none;
        background-color: #F0F1F2;
        height: 100%; }
        #everest-forms-builder .evf-tab-content .everest-forms-panel .everest-forms-panel-sidebar .everest-forms-field-options .everest-forms-field-option-group {
          border-bottom: 1px solid #F0F1F2; }
        #everest-forms-builder .evf-tab-content .everest-forms-panel .everest-forms-panel-sidebar .everest-forms-field-options .everest-forms-field-option-row {
          margin-bottom: 15px; }
          #everest-forms-builder .evf-tab-content .everest-forms-panel .everest-forms-panel-sidebar .everest-forms-field-options .everest-forms-field-option-row:last-child {
            margin-bottom: 0; }
          #everest-forms-builder .evf-tab-content .everest-forms-panel .everest-forms-panel-sidebar .everest-forms-field-options .everest-forms-field-option-row .inline {
            margin-bottom: 0;
            display: inline-block;
            vertical-align: top;
            margin-left: 5px; }
        #everest-forms-builder .evf-tab-content .everest-forms-panel .everest-forms-panel-sidebar .everest-forms-field-options .everest-forms-field-option {
          display: none; }
        #everest-forms-builder .evf-tab-content .everest-forms-panel .everest-forms-panel-sidebar .everest-forms-field-options .everest-forms-field-option-group-toggle {
          background-color: #F9FAFC;
          padding: 15px 20px;
          font-size: 14px;
          font-weight: 600;
          display: block;
          color: #404040; }
        #everest-forms-builder .evf-tab-content .everest-forms-panel .everest-forms-panel-sidebar .everest-forms-field-options .everest-forms-field-option-group-inner {
          background-color: #F0F1F2;
          padding: 15px 20px; }
      #everest-forms-builder .evf-tab-content .everest-forms-panel .everest-forms-panel-sidebar .evf-setting-panel {
        background-color: #F0F1F2;
        padding: 15px 20px;
        font-size: 14px;
        font-weight: 600;
        display: block;
        color: #404040;
        border-bottom: 3px solid #F0F1F2; }
        #everest-forms-builder .evf-tab-content .everest-forms-panel .everest-forms-panel-sidebar .evf-setting-panel .everest-forms-toggle-arrow {
          float: right;
          font-size: 14px; }
        #everest-forms-builder .evf-tab-content .everest-forms-panel .everest-forms-panel-sidebar .evf-setting-panel.active {
          background-color: #FFFFFF;
          position: relative;
          color: #7F5AEC;
          border-color: #7F5AEC; }
          #everest-forms-builder .evf-tab-content .everest-forms-panel .everest-forms-panel-sidebar .evf-setting-panel.active::after {
            position: absolute;
            content: "";
            top: 0;
            right: -1px;
            bottom: 0;
            width: 1px;
            height: 100%;
            background-color: #FFFFFF; }
  #everest-forms-builder .evf-tab-content .everest-forms-panel-content-wrap {
    background-color: #FFFFFF;
    width: 70%;
    padding: 15px 20px; }
    #everest-forms-builder .evf-tab-content .everest-forms-panel-content-wrap .everest-forms-title-desc .everest-forms-form-name {
      margin-top: 0; }
    #everest-forms-builder .evf-tab-content .everest-forms-panel-content-wrap .evf-admin-field-wrapper {
      padding: 0 15px; }
      #everest-forms-builder .evf-tab-content .everest-forms-panel-content-wrap .evf-admin-field-wrapper.evf-hover {
        background-color: #d4e3f9; }
    #everest-forms-builder .evf-tab-content .everest-forms-panel-content-wrap .evf-add-row {
      text-align: center; }
      #everest-forms-builder .evf-tab-content .everest-forms-panel-content-wrap .evf-add-row span {
        width: 40px;
        height: 40px;
        line-height: 30px;
        padding: 5px;
        color: #FFFFFF;
        background-color: #969696;
        border-radius: 5px;
        cursor: pointer;
        transition: 0.5s ease-in-out background-color;
        margin-bottom: 20px; }
        #everest-forms-builder .evf-tab-content .everest-forms-panel-content-wrap .evf-add-row span:hover, #everest-forms-builder .evf-tab-content .everest-forms-panel-content-wrap .evf-add-row span:focus, #everest-forms-builder .evf-tab-content .everest-forms-panel-content-wrap .evf-add-row span:active {
          background-color: #7CA8EB; }
    #everest-forms-builder .evf-tab-content .everest-forms-panel-content-wrap .evf-admin-row {
      background-color: transparent;
      display: flex;
      margin: 0 -15px 30px;
      position: relative;
      border: 1px solid transparent;
      transition: 0.5s border, 0.5s background-color; }
      #everest-forms-builder .evf-tab-content .everest-forms-panel-content-wrap .evf-admin-row:last-child {
        margin-bottom: 10px; }
      #everest-forms-builder .evf-tab-content .everest-forms-panel-content-wrap .evf-admin-row .evf-toggle-row {
        background-color: #8CE99A;
        color: #fff;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 9999;
        visibility: hidden;
        opacity: 0;
        transition: 0.7s all;
        padding: 5px 10px;
        cursor: pointer; }
        #everest-forms-builder .evf-tab-content .everest-forms-panel-content-wrap .evf-admin-row .evf-toggle-row .evf-show-grid {
          display: inline-block;
          font-size: 12px;
          letter-spacing: 1px;
          font-weight: 600;
          text-transform: uppercase; }
        #everest-forms-builder .evf-tab-content .everest-forms-panel-content-wrap .evf-admin-row .evf-toggle-row .evf-delete-row {
          display: inline-block;
          padding-right: 5px; }
          #everest-forms-builder .evf-tab-content .everest-forms-panel-content-wrap .evf-admin-row .evf-toggle-row .evf-delete-row span {
            font-size: 14px;
            height: auto;
            line-height: 1.2;
            color: #D9534F; }
        #everest-forms-builder .evf-tab-content .everest-forms-panel-content-wrap .evf-admin-row .evf-toggle-row .evf-toggle-row-content {
          display: none;
          position: absolute;
          width: 200px;
          padding: 30px;
          text-align: center;
          right: -20px;
          border-radius: 11px;
          background-color: #FFFFFF;
          font-weight: 600;
          font-size: 12px;
          top: 40px;
          box-shadow: 0 0 39px rgba(0, 0, 0, 0.1);
          transition: 0.9s background-color; }
          #everest-forms-builder .evf-tab-content .everest-forms-panel-content-wrap .evf-admin-row .evf-toggle-row .evf-toggle-row-content::before {
            top: -5px;
            content: "";
            right: 45px;
            border-right: 6px solid transparent;
            border-bottom: 6px solid #FFFFFF;
            border-left: 6px solid transparent;
            position: absolute; }
          #everest-forms-builder .evf-tab-content .everest-forms-panel-content-wrap .evf-admin-row .evf-toggle-row .evf-toggle-row-content > span {
            color: #575757;
            display: block; }
          #everest-forms-builder .evf-tab-content .everest-forms-panel-content-wrap .evf-admin-row .evf-toggle-row .evf-toggle-row-content small {
            color: #C6CCD7;
            margin-bottom: 10px;
            display: block; }
          #everest-forms-builder .evf-tab-content .everest-forms-panel-content-wrap .evf-admin-row .evf-toggle-row .evf-toggle-row-content .evf-grid-selector {
            height: 30px;
            width: 40px;
            border: 1px solid #D6D8DA;
            display: inline-block;
            margin: 3px;
            border-radius: 3px; }
            #everest-forms-builder .evf-tab-content .everest-forms-panel-content-wrap .evf-admin-row .evf-toggle-row .evf-toggle-row-content .evf-grid-selector span {
              height: 100%;
              display: inline-block;
              background: #fff; }
              #everest-forms-builder .evf-tab-content .everest-forms-panel-content-wrap .evf-admin-row .evf-toggle-row .evf-toggle-row-content .evf-grid-selector span:nth-child(n+1) {
                border-left: 1px solid #D6D8DA; }
              #everest-forms-builder .evf-tab-content .everest-forms-panel-content-wrap .evf-admin-row .evf-toggle-row .evf-toggle-row-content .evf-grid-selector span:nth-child(1) {
                border-left: 0 none; }
            #everest-forms-builder .evf-tab-content .everest-forms-panel-content-wrap .evf-admin-row .evf-toggle-row .evf-toggle-row-content .evf-grid-selector.active {
              border-color: #7CA8EB; }
              #everest-forms-builder .evf-tab-content .everest-forms-panel-content-wrap .evf-admin-row .evf-toggle-row .evf-toggle-row-content .evf-grid-selector.active span {
                border-color: #7CA8EB; }
      #everest-forms-builder .evf-tab-content .everest-forms-panel-content-wrap .evf-admin-row:hover {
        background-color: #F7FAFC;
        border: 1px dashed #5D96EE; }
        #everest-forms-builder .evf-tab-content .everest-forms-panel-content-wrap .evf-admin-row:hover .evf-admin-grid {
          border: 1px dashed #BDBDBD; }
        #everest-forms-builder .evf-tab-content .everest-forms-panel-content-wrap .evf-admin-row:hover .evf-toggle-row {
          opacity: 1;
          visibility: visible; }
      #everest-forms-builder .evf-tab-content .everest-forms-panel-content-wrap .evf-admin-row .evf-admin-grid {
        background: #FFFFFF;
        min-height: 200px;
        margin: 15px;
        padding: 5px;
        border: 1px solid transparent;
        transition: 0.5s border, 0.5s background-color;
        position: relative; }
        #everest-forms-builder .evf-tab-content .everest-forms-panel-content-wrap .evf-admin-row .evf-admin-grid.evf-hover {
          border: 1px dashed #BDBDBD; }
          #everest-forms-builder .evf-tab-content .everest-forms-panel-content-wrap .evf-admin-row .evf-admin-grid.evf-hover.evf-item-hover {
            position: relative;
            box-shadow: 0 0 5px rgba(0, 100, 251, 0.5); }
            #everest-forms-builder .evf-tab-content .everest-forms-panel-content-wrap .evf-admin-row .evf-admin-grid.evf-hover.evf-item-hover::after {
              position: absolute;
              content: "";
              top: -1px;
              left: -1px;
              right: -1px;
              width: auto;
              height: 15px;
              background-color: #7CA8EB; }
        #everest-forms-builder .evf-tab-content .everest-forms-panel-content-wrap .evf-admin-row .evf-admin-grid.evf-grid-1 {
          width: 100%; }
        #everest-forms-builder .evf-tab-content .everest-forms-panel-content-wrap .evf-admin-row .evf-admin-grid.evf-grid-2 {
          width: 50%; }
        #everest-forms-builder .evf-tab-content .everest-forms-panel-content-wrap .evf-admin-row .evf-admin-grid.evf-grid-3 {
          width: 30%; }
        #everest-forms-builder .evf-tab-content .everest-forms-panel-content-wrap .evf-admin-row .evf-admin-grid .evf-registered-item {
          padding: 20px;
          font-size: 18px;
          text-align: left; }
          #everest-forms-builder .evf-tab-content .everest-forms-panel-content-wrap .evf-admin-row .evf-admin-grid .evf-registered-item .dashicons {
            font-size: 22px;
            margin-top: 3px; }
        #everest-forms-builder .evf-tab-content .everest-forms-panel-content-wrap .evf-admin-row .evf-admin-grid.evf-empty-grid {
          border: 1px dashed #BDBDBD;
          position: relative; }
          #everest-forms-builder .evf-tab-content .everest-forms-panel-content-wrap .evf-admin-row .evf-admin-grid.evf-empty-grid:before {
            position: absolute;
            margin: auto;
            content: "\f132";
            font-size: 40px;
            display: block;
            font-family: dashicons;
            transform: translate(-50%, -50%);
            left: 50%;
            top: 50%;
            color: #D6D8DA; }
    #everest-forms-builder .evf-tab-content .everest-forms-panel-content-wrap .everest-forms-field {
      margin-bottom: 30px;
      padding: 15px;
      position: relative;
      box-shadow: 0 0 15px transparent;
      transition: 0.5s box-shadow; }
      #everest-forms-builder .evf-tab-content .everest-forms-panel-content-wrap .everest-forms-field:last-child {
        margin-bottom: 0; }
      #everest-forms-builder .evf-tab-content .everest-forms-panel-content-wrap .everest-forms-field.everest-forms-field--first, #everest-forms-builder .evf-tab-content .everest-forms-panel-content-wrap .everest-forms-field.everest-forms-field--last {
        width: 48.5%;
        margin-right: 3%;
        float: left; }
      #everest-forms-builder .evf-tab-content .everest-forms-panel-content-wrap .everest-forms-field.everest-forms-field--last {
        margin-right: 0;
        float: right; }
      #everest-forms-builder .evf-tab-content .everest-forms-panel-content-wrap .everest-forms-field .evf-field-action {
        position: absolute;
        top: 10px;
        right: 5px;
        visibility: hidden;
        opacity: 0;
        transition: 0.5s all; }
        #everest-forms-builder .evf-tab-content .everest-forms-panel-content-wrap .everest-forms-field .evf-field-action a {
          color: #7CA8EB;
          margin-left: 5px; }
          #everest-forms-builder .evf-tab-content .everest-forms-panel-content-wrap .everest-forms-field .evf-field-action a.everest-forms-field-delete:hover {
            color: #D9534F; }
      #everest-forms-builder .evf-tab-content .everest-forms-panel-content-wrap .everest-forms-field:hover {
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); }
        #everest-forms-builder .evf-tab-content .everest-forms-panel-content-wrap .everest-forms-field:hover .evf-field-action {
          visibility: visible;
          opacity: 1; }
      #everest-forms-builder .evf-tab-content .everest-forms-panel-content-wrap .everest-forms-field.ui-sortable-helper {
        box-shadow: 1px 5px 35px rgba(0, 0, 0, 0.2);
        padding: 20px 30px;
        height: auto !important;
        left: -20px;
        right: -20px;
        background-color: #FFFFFF; }
        #everest-forms-builder .evf-tab-content .everest-forms-panel-content-wrap .everest-forms-field.ui-sortable-helper::before {
          position: absolute;
          left: 0;
          top: 0;
          width: 5px;
          height: 100%;
          background-color: #7F5AEC;
          content: ""; }
        #everest-forms-builder .evf-tab-content .everest-forms-panel-content-wrap .everest-forms-field.ui-sortable-helper:hover .evf-field-action {
          display: none; }
    #everest-forms-builder .evf-tab-content .everest-forms-panel-content-wrap .file-uploader {
      width: 100%;
      border: 2px dashed #D5D9E2;
      background-color: #FBFDFE;
      border-radius: 3px;
      cursor: pointer;
      text-align: center;
      padding-top: 30px;
      padding-bottom: 30px;
      position: relative; }
      #everest-forms-builder .evf-tab-content .everest-forms-panel-content-wrap .file-uploader svg {
        width: 30px;
        height: 30px;
        fill: #BBBCBD;
        margin-bottom: 20px; }
      #everest-forms-builder .evf-tab-content .everest-forms-panel-content-wrap .file-uploader input.file-input {
        touch-action: manipulation;
        max-width: 100%;
        min-width: 14px;
        margin: 0;
        opacity: 0;
        height: 18px; }
      #everest-forms-builder .evf-tab-content .everest-forms-panel-content-wrap .file-uploader .drop {
        display: block;
        font-size: 14px;
        font-weight: 600;
        color: #969696;
        margin-bottom: 10px; }
      #everest-forms-builder .evf-tab-content .everest-forms-panel-content-wrap .file-uploader .or {
        font-size: 12px;
        color: #BDBDBD;
        font-weight: 500;
        display: block;
        margin-bottom: 10px; }
      #everest-forms-builder .evf-tab-content .everest-forms-panel-content-wrap .file-uploader .file-control {
        position: absolute;
        bottom: 30px;
        color: #5D96EE;
        padding-bottom: 2px;
        display: block;
        left: 0;
        right: 0; }
        #everest-forms-builder .evf-tab-content .everest-forms-panel-content-wrap .file-uploader .file-control::before {
          content: "";
          width: 45px;
          background-color: #5D96EE;
          height: 1px;
          display: block;
          left: 50%;
          bottom: -2px;
          position: absolute;
          transform: translateX(-50%); }
    #everest-forms-builder .evf-tab-content .everest-forms-panel-content-wrap .publishing-action {
      width: 100%;
      text-align: right; }
    #everest-forms-builder .evf-tab-content .everest-forms-panel-content-wrap .submit-button {
      display: inline-block;
      font-size: 12px;
      font-weight: 600;
      color: #FFFFFF;
      padding: 15px 20px;
      border: 0 none;
      background-color: #8CE99A;
      border-radius: 3px; }
  #everest-forms-builder .evf-tab-content label {
    font-size: 12px;
    margin-bottom: 15px;
    color: #575757;
    display: block;
    font-weight: 600; }
    #everest-forms-builder .evf-tab-content label i {
      color: #BDBDBD;
      font-size: 16px;
      line-height: 1.2; }
    #everest-forms-builder .evf-tab-content label .required {
      margin-left: 5px; }
  #everest-forms-builder .evf-tab-content input:not(.ed_button),
  #everest-forms-builder .evf-tab-content textarea:not(.wp-editor-area),
  #everest-forms-builder .evf-tab-content select {
    border: 1px solid #D5D9E2;
    border-radius: 3px;
    height: 45px;
    width: 100%;
    padding: 10px 15px;
    color: #575757;
    font-size: 14px; }
    #everest-forms-builder .evf-tab-content input:not(.ed_button)[type="checkbox"], #everest-forms-builder .evf-tab-content input:not(.ed_button)[type="radio"],
    #everest-forms-builder .evf-tab-content textarea:not(.wp-editor-area)[type="checkbox"],
    #everest-forms-builder .evf-tab-content textarea:not(.wp-editor-area)[type="radio"],
    #everest-forms-builder .evf-tab-content select[type="checkbox"],
    #everest-forms-builder .evf-tab-content select[type="radio"] {
      width: 16px;
      height: 16px;
      background-color: #FFFFFF; }
    #everest-forms-builder .evf-tab-content input:not(.ed_button)[type="radio"],
    #everest-forms-builder .evf-tab-content textarea:not(.wp-editor-area)[type="radio"],
    #everest-forms-builder .evf-tab-content select[type="radio"] {
      border-radius: 10px; }
    #everest-forms-builder .evf-tab-content input:not(.ed_button)[type="checkbox"]:checked,
    #everest-forms-builder .evf-tab-content textarea:not(.wp-editor-area)[type="checkbox"]:checked,
    #everest-forms-builder .evf-tab-content select[type="checkbox"]:checked {
      background-color: #7CA8EB; }
      #everest-forms-builder .evf-tab-content input:not(.ed_button)[type="checkbox"]:checked::before,
      #everest-forms-builder .evf-tab-content textarea:not(.wp-editor-area)[type="checkbox"]:checked::before,
      #everest-forms-builder .evf-tab-content select[type="checkbox"]:checked::before {
        color: #FFFFFF;
        background-color: transparent; }
    #everest-forms-builder .evf-tab-content input:not(.ed_button)[type="radio"]:checked::before,
    #everest-forms-builder .evf-tab-content textarea:not(.wp-editor-area)[type="radio"]:checked::before,
    #everest-forms-builder .evf-tab-content select[type="radio"]:checked::before {
      background-color: #7CA8EB; }
    #everest-forms-builder .evf-tab-content input:not(.ed_button)::placeholder,
    #everest-forms-builder .evf-tab-content textarea:not(.wp-editor-area)::placeholder,
    #everest-forms-builder .evf-tab-content select::placeholder {
      color: #C6CCD7; }
    #everest-forms-builder .evf-tab-content input:not(.ed_button):focus,
    #everest-forms-builder .evf-tab-content textarea:not(.wp-editor-area):focus,
    #everest-forms-builder .evf-tab-content select:focus {
      outline: none; }
  #everest-forms-builder .evf-tab-content textarea,
  #everest-forms-builder .evf-tab-content textarea:not(.wp-editor-area) {
    height: 120px; }
  #everest-forms-builder .evf-tab-content .evf-grid-lists {
    margin-left: -1.5%;
    margin-right: 1.5%;
    background-color: #F9FAFC;
    display: flex; }
    #everest-forms-builder .evf-tab-content .evf-grid-lists .evf-grid-lists-item {
      padding-left: 1.5%;
      padding-right: 1.5%;
      background-color: #FFFFFF; }
  #everest-forms-builder .evf-tab-content .evf-content-section-title {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
    padding-bottom: 20px;
    line-height: 34px;
    border-bottom: 1px solid #EFEFEF; }
  #everest-forms-builder .evf-tab-content .everest-forms-panel-field {
    margin-bottom: 20px; }
  #everest-forms-builder .evf-registered-item {
    z-index: 999;
    cursor: pointer;
    border-radius: 2px;
    font-size: 12px;
    text-align: center;
    margin: 0;
    background-color: #FFFFFF;
    border: 1px solid #EBEDF0;
    color: #969696; }
    #everest-forms-builder .evf-registered-item .evf-icon {
      color: inherit;
      display: block !important;
      font-size: 32px !important; }
    #everest-forms-builder .evf-registered-item.ui-draggable-dragging {
      border: 1px solid #7CA8EB;
      width: 105px !important;
      color: #7CA8EB;
      text-align: center !important;
      font-size: 12px !important;
      box-shadow: 0 0 32px rgba(0, 0, 0, 0.15); }
  #everest-forms-builder .evf-choices-list li {
    clear: both;
    padding: 5px 5px;
    cursor: pointer; }
    #everest-forms-builder .evf-choices-list li input.value {
      display: none; }
    #everest-forms-builder .evf-choices-list li input[type="checkbox"], #everest-forms-builder .evf-choices-list li input[type="radio"] {
      float: left;
      margin-top: 6px; }
    #everest-forms-builder .evf-choices-list li input[type="text"] {
      height: 30px;
      font-size: 12px;
      width: 70%;
      line-height: 12px; }
    #everest-forms-builder .evf-choices-list li a.add, #everest-forms-builder .evf-choices-list li a.remove {
      margin-top: 5px;
      margin-left: 2px;
      display: inline-block;
      float: right; }
    #everest-forms-builder .evf-choices-list li:hover {
      background: #f9f9f9; }
  #everest-forms-builder .everest-forms-field.ui-draggable-dragging {
    margin: 0;
    border: 1px solid #7CA8EB;
    width: 105px !important;
    color: #7CA8EB;
    background-color: #FFFFFF;
    text-align: center;
    font-size: 12px !important; }
    #everest-forms-builder .everest-forms-field.ui-draggable-dragging .evf-icon {
      color: inherit;
      display: block !important;
      font-size: 302x !important; }

#everest-forms-panel-settings .evf-content-section {
  display: none; }

#everest-forms-panel-settings .evf-content-section.active {
  display: block; }

.jconfirm.jconfirm-white .jconfirm-box .jconfirm-buttons button.evf-confirm-btn, .jconfirm.jconfirm-white .jconfirm-box .jconfirm-buttons button.evf-cancel-btn,
.jconfirm.jconfirm-light .jconfirm-box .jconfirm-buttons button.evf-confirm-btn,
.jconfirm.jconfirm-light .jconfirm-box .jconfirm-buttons button.evf-cancel-btn {
  padding: 7px 15px;
  background-color: #292929;
  color: #FFFFFF;
  font-size: 12px;
  text-transform: uppercase;
  border: 0 none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600; }

@media screen and (max-width: 1200px) {
  #everest-forms-builder .evf-tab-content .everest-forms-panel .everest-forms-panel-sidebar .evf-registered-buttons .evf-registered-item {
    width: 47%; } }

@media screen and (max-width: 782px) {
  .everest-forms_page_edit-evf-form.auto-fold #wpcontent {
    padding-left: 0; }
  #everest-forms-builder .evf-tab-content .everest-forms-panel .everest-forms-panel-sidebar-content {
    flex-direction: column; }
  #everest-forms-builder .evf-tab-content .everest-forms-panel .everest-forms-panel-sidebar,
  #everest-forms-builder .evf-tab-content .everest-forms-panel .everest-forms-panel-content-wrap {
    width: 100%; }
  #everest-forms-builder .evf-tab-content .everest-forms-panel .everest-forms-panel-sidebar .evf-registered-buttons .evf-registered-item {
    width: 30.3%; } }

@media screen and (max-width: 600px) {
  #everest-forms-builder .evf-tab-content .everest-forms-panel-content-wrap {
    padding: 20px 20px 0; }
    #everest-forms-builder .evf-tab-content .everest-forms-panel-content-wrap .evf-admin-row {
      flex-direction: column;
      margin: 0 0 20px;
      position: relative; }
      #everest-forms-builder .evf-tab-content .everest-forms-panel-content-wrap .evf-admin-row .evf-admin-grid.evf-grid-1, #everest-forms-builder .evf-tab-content .everest-forms-panel-content-wrap .evf-admin-row .evf-admin-grid.evf-grid-2, #everest-forms-builder .evf-tab-content .everest-forms-panel-content-wrap .evf-admin-row .evf-admin-grid.evf-grid-3 {
        width: auto; } }

@media screen and (max-width: 480px) {
  #everest-forms-builder .evf-tab-lists li a {
    padding: 15px; }
  #everest-forms-builder .evf-tab-lists li .dashicons {
    font-size: 24px; }
  #everest-forms-builder .evf_save_form_action_button {
    margin: 12px 15px 0 5px; }
  #everest-forms-builder .evf-tab-content .everest-forms-panel .everest-forms-panel-sidebar .evf-registered-buttons .evf-registered-item {
    width: 47%; }
  .jconfirm.jconfirm-white .jconfirm-box,
  .jconfirm.jconfirm-light .jconfirm-box {
    width: 90% !important; } }

.evf-overlay {
  height: 100%;
  width: 100%;
  background: transparent;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1000;
  padding: 20px; }

/**
* Tooltips
*/
.tips {
  cursor: help;
  text-decoration: none; }

img.tips {
  padding: 5px 0 0; }

#tiptip_holder {
  display: none;
  z-index: 8675309;
  position: absolute;
  top: 0;
  /*rtl:ignore*/
  left: 0; }
  #tiptip_holder.tip_top {
    padding-bottom: 5px; }
    #tiptip_holder.tip_top #tiptip_arrow_inner {
      margin-top: -7px;
      margin-left: -6px;
      border-top-color: #333; }
  #tiptip_holder.tip_bottom {
    padding-top: 5px; }
    #tiptip_holder.tip_bottom #tiptip_arrow_inner {
      margin-top: -5px;
      margin-left: -6px;
      border-bottom-color: #333; }
  #tiptip_holder.tip_right {
    padding-left: 5px; }
    #tiptip_holder.tip_right #tiptip_arrow_inner {
      margin-top: -6px;
      margin-left: -5px;
      border-right-color: #333; }
  #tiptip_holder.tip_left {
    padding-right: 5px; }
    #tiptip_holder.tip_left #tiptip_arrow_inner {
      margin-top: -6px;
      margin-left: -7px;
      border-left-color: #333; }

#tiptip_content,
.chart-tooltip,
.evf_error_tip {
  color: #fff;
  font-size: 0.8em;
  max-width: 150px;
  background: #333;
  text-align: center;
  border-radius: 3px;
  padding: 0.618em 1em;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2); }
  #tiptip_content code,
  .chart-tooltip code,
  .evf_error_tip code {
    padding: 1px;
    background: #888; }

#tiptip_arrow,
#tiptip_arrow_inner {
  position: absolute;
  border-color: transparent;
  border-style: solid;
  border-width: 6px;
  height: 0;
  width: 0; }

/*rtl:raw:
#tiptip_arrow {
	right: 50%;
	margin-right: -6px;
}
*/
.evf_error_tip {
  max-width: 20em;
  line-height: 1.8em;
  position: absolute;
  white-space: normal;
  background: #d82223;
  margin: 1.5em 1px 0 -1em;
  z-index: 9999999; }
  .evf_error_tip::after {
    content: '';
    display: block;
    border: 8px solid #d82223;
    border-right-color: transparent;
    border-left-color: transparent;
    border-top-color: transparent;
    position: absolute;
    top: -3px;
    left: 50%;
    margin: -1em 0 0 -3px; }

@font-face {
  font-family: 'evf-icon';
  src: url("../fonts/evf-icon.eot?5fwmb3");
  src: url("../fonts/evf-icon.eot?5fwmb3#iefix") format("embedded-opentype"), url("../fonts/evf-icon.ttf?5fwmb3") format("truetype"), url("../fonts/evf-icon.woff?5fwmb3") format("woff"), url("../fonts/evf-icon.svg?5fwmb3#evf-icon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="evf-icon-"], [class*=" evf-icon-"] {
  /* use !important to prevent issues with browser extensions that change ../fonts */
  font-family: 'evf-icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.evf-icon-last-name:before {
  content: "\e900"; }

.evf-icon-first-name:before {
  content: "\e901"; }

.evf-icon-checkbox:before {
  content: "\e902"; }

.evf-icon-radio:before {
  content: "\e903"; }

.evf-icon-file-upload:before {
  content: "\e904"; }

.evf-icon-hidden-field:before {
  content: "\e90a"; }

.evf-icon-address:before {
  content: "\e911"; }

.evf-icon-phone:before {
  content: "\e912"; }

.evf-icon-website:before {
  content: "\e913"; }

.evf-icon-number:before {
  content: "\e914"; }

.evf-icon-dropdown:before {
  content: "\e915"; }

.evf-icon-paragraph:before {
  content: "\e916"; }

.evf-icon-multiple-choices:before {
  content: "\e917"; }

.evf-icon-date-time:before {
  content: "\e918"; }

.evf-icon-email:before {
  content: "\e919"; }

.evf-icon-text:before {
  content: "\e91a"; }

/*
#everest-forms-builder {

	padding: 20px;
	border: 1px solid #e1e1e1;
	.everest-forms-panels-tabs {

		button {

			padding: 10px 20px;
			background: #bec8fb;
			-webkit-box-shadow: none;
			-moz-box-shadow: none;
			box-shadow: none;
			border: 0;
			cursor: pointer;
			&.active, &:hover {

				background: #ddd;
			}
		}

	}
	.everest-forms-panels {

		padding: 10px 20px;
		border: 1px solid #e1e1e1;

		.everest-forms-panel-sidebar {
			width: 400px;
			background: #f9f9f9;
			padding: 10px;
			border: 1px solid #e1e1e1;
			float: left;
		}

		.everest-forms-panel-content-wrap {

			padding: 10px;

			float: right;
			width: 500px;
			background: #f9f9f9;
		}
		.everest-forms-panel {
			display: none;
			&.active {
				display: block;
			}
		}

		.everest-forms-field-options {
			display: none;
		}
	}

}

.everest-forms-panel-content-wrap {

	.everest-forms-preview {

		background: #f1f1f1;

	}
}

.evf-admin-row {

	position: relative;
	padding: 20px;

	.evf-admin-grid {

		position: relative;
		width: 45%;
		float: left;
		border: 1px solid #e1e1e1;
		background: green;
		min-height: 100px;

		&:nth-of-type(2) {
			background: blue;
			float: right;

		}
	}
	.evf-toggle-row {
		width: 100px;
		float: right;
		padding: 10px;
		background: #999;
		color: #fff;
		.evf-toggle-row-content {
			display: none;
			.evf-grid-selector {
				height: 20px;
				width: 20px;
				background: #6aabff;

				padding: 2px;
				float: left;
				margin: 3px;
				span {
					height: 100%;
					display: block;
					float: left;
					background: #fff;
					border-radius: 2px;
				}
			}
		}

	}
}
*/
