@import "scss/colors";
@import "scss/clearings";
@import "scss/admin";
@import "scss/_evf-icon";
@import "scss/confirm";

/*
#everest-forms-builder {

	padding: 20px;
	border: 1px solid #e1e1e1;
	.everest-forms-panels-tabs {

		button {

			padding: 10px 20px;
			background: #bec8fb;
			-webkit-box-shadow: none;
			-moz-box-shadow: none;
			box-shadow: none;
			border: 0;
			cursor: pointer;
			&.active, &:hover {

				background: #ddd;
			}
		}

	}
	.everest-forms-panels {

		padding: 10px 20px;
		border: 1px solid #e1e1e1;

		.everest-forms-panel-sidebar {
			width: 400px;
			background: #f9f9f9;
			padding: 10px;
			border: 1px solid #e1e1e1;
			float: left;
		}

		.everest-forms-panel-content-wrap {

			padding: 10px;

			float: right;
			width: 500px;
			background: #f9f9f9;
		}
		.everest-forms-panel {
			display: none;
			&.active {
				display: block;
			}
		}

		.everest-forms-field-options {
			display: none;
		}
	}

}

.everest-forms-panel-content-wrap {

	.everest-forms-preview {

		background: #f1f1f1;

	}
}

.evf-admin-row {

	position: relative;
	padding: 20px;

	.evf-admin-grid {

		position: relative;
		width: 45%;
		float: left;
		border: 1px solid #e1e1e1;
		background: green;
		min-height: 100px;

		&:nth-of-type(2) {
			background: blue;
			float: right;

		}
	}
	.evf-toggle-row {
		width: 100px;
		float: right;
		padding: 10px;
		background: #999;
		color: #fff;
		.evf-toggle-row-content {
			display: none;
			.evf-grid-selector {
				height: 20px;
				width: 20px;
				background: #6aabff;

				padding: 2px;
				float: left;
				margin: 3px;
				span {
					height: 100%;
					display: block;
					float: left;
					background: #fff;
					border-radius: 2px;
				}
			}
		}

	}
}
*/
