/**
 * everest-forms.scss
 * Governs the general look and feel of EverestForms sections of sites using themes that do not
 * integrate with EverestForms specifically.
 */

/**
 * Imports
 */
@import 'mixins';
@import 'variables';
@import 'animation';
@import 'fonts';
@import 'scss/colors';
@import 'scss/clearings';

/**
 * Global styles
 */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	overflow: hidden;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important;
}

/**
 * Utility classes
 */
.clear {
	clear: both;
}

/**
 * Main EverestForms styles
 */
.everest-forms {

	* {
		box-sizing: border-box;
	}

	.blockUI.blockOverlay {
		position: relative;
		@include loader();
	}

	.loader {
		@include loader();
	}

	.everest-forms-field-row {

		&:before,
		&:after {
			clear: both;
			content: "";
			display: table;
		}

		&:last-child {
			.everest-forms-field-sublabel {
				margin-bottom: 0;
			}
		}
	}

	.evf-field-container {
		margin: 0 !important;

		.evf-frontend-row {
			display: flex;
			flex-wrap: wrap;
			margin-left: -15px;
			margin-right: -15px;

			.everest-forms-one-half {
				float: left;
				margin-left: 4%;
				width: 48%;

				&:first-child {
					margin-left: 0;
				}
			}

			.everest-forms-first {
				margin-left: 0;
			}

			.evf-frontend-grid {
				padding-left: 15px;
				padding-right: 15px;
				margin-bottom: 30px;

				&.evf-grid-1 {
					width: 100%;
				}

				&.evf-grid-2 {
					width: 50%;
				}

				&.evf-grid-3 {
					width: 30%;

				}

				.evf-field {
					margin-bottom: 30px;

					&:last-child {
						margin-bottom: 0;
					}

					.evf-label-hide,
					.everest-forms-sublabel-hide {
						display:none;
					}

					ul {
						margin: 0;
						padding: 0;
						list-style: none;

						li {
							margin: 0;
							display: block;

							label,
							input {
								margin-bottom: 0;
								display: inline-block;
								vertical-align: middle;
							}

							input[type="checkbox"],
							input[type="radio"] {
								padding: 0;
								margin-right: 8px;
							}

							label {
								font-weight: 500;
								color: $color-gray-darker !important;
							}
						}
					}

					&.everest-forms-invalid {
						label {
							color: $color-alert-danger;
						}

						.select2-container,
						input.input-text,
						select,
						textarea {
							border-color: $color-alert-danger;
						}
					}

					&.everest-forms-validated {
						.select2-container,
						input.input-text,
						select,
						textarea {
							border-color: $color-alert-success;
						}
					}

					::-webkit-input-placeholder {
						line-height: normal;
					}

					:-moz-placeholder {
						line-height: normal;
					}

					:-ms-input-placeholder {
						line-height: normal;
					}
				}
			}

			label {
				display: block;
				font-size: 14px;
				font-weight: 600;
				margin: 0 0 5px 0;
				color: $color-gray-darker;

				.required {
					color: red;
					font-weight: 700;
					border: 0!important;
					text-decoration: none;
				}

				&.evf-error {
					margin-top: 15px;
					margin-bottom: 0;
					font-weight: 400;
					padding: 7px 10px;
					border-radius: 3px;
					display: inline-block;
					border: 1px solid $color-alert-danger;
					color: darken( $color-alert-danger, 10% );
					background-color: lighten( $color-alert-danger, 35% );
				}

				&.everest-forms-field-sublabel {
					font-size: 12px;
					font-weight: 400;
				}
			}

			input,
			select,
			textarea {
				width: 100%;
				height: auto;
				font-size: 14px;
				box-shadow: none;
				margin-bottom: 0;
				padding: 6px 12px;
				color: $color-gray-darker;
				background-color: transparent;

				&[type="checkbox"],
				&[type="radio"] {
					width: 14px;
					height: 14px;
					background-color: $color-white;
				}

				&[type="radio"] {
					border-radius: 10px;
				}

				&[type="checkbox"]:checked {
					background-color: $color-brand-primary;

					&::before {
						color: $color-white;
						background-color: transparent;
					}
				}

				&[type="radio"]:checked {
					&::before {
						background-color: $color-brand-primary;
					}
				}

				&::placeholder {
					color: $input-color;
				}

				&:focus {
					outline: none;
					border: 1px solid $color-brand-primary;
				}
			}

			textarea {
				width: 100%;
				height: 120px;
			}

			.everest-forms-field-row {
				margin-bottom: 30px;
			}
		}
	}

	input[type=submit],
	button[type=submit],
	.everest-forms-part-button {
		color: #555;
		height: auto;
		cursor: pointer;
		background: none;
		box-shadow: none;
		font-weight: 400;
		font-size: 0.95em;
		padding: 10px 15px;
		border-radius: 3px;
		border: 1px solid #ccc;
		background-color: #f7f7f7;

		&:hover,
		&:active {
			outline: none;
			color: #23282d;
			background-color: #eee;
		}
	}

	.default {

		input,
		select,
		textarea {
			border-radius: 3px;
			border: 1px solid $color-gray;
		}
	}

	.layout-two {
		label {
			margin-bottom: 0;
		}

		.evf-field-checkbox,
		.evf-field-radio {
			label {
				margin-bottom: 20px;
			}
		}

		input,
		select,
		textarea {
			border-radius: 0;
			border-top:none transparent;
			border-right:none transparent;
			border-left:none transparent;
			border-bottom: 1px solid $color-gray;
			height: 40px;
			padding: 10px 0;
			background-color: transparent;

			&:focus {
				border-top:none transparent;
				border-right:none transparent;
				border-left:none transparent;
			}
		}

		textarea {
			height: 100px;
		}
	}

	/**
	 * Notices.
	 */
	.everest-forms-notice {
		padding: 1em 3em;
		margin: 0 0 2em;
		position: relative;
		background-color: $color-brand-primary;
		color: $color-white;
		border-radius: 5px;
		@include clearfix();

		&::before {
			font-family: 'dashicons';
			content: "\f348";
			position: absolute;
			top: 1em;
			left: 1.5em;
			color:inherit;
		}

		.button {
			float: right;
		}

		p {
			margin-bottom: 0;
		}

		li {
			list-style: none outside !important; // Required for default theme compatibility
			padding-left: 0 !important; // Required for default theme compatibility
			margin-left: 0 !important; // Required for default theme compatibility
		}
	}

	.everest-forms-notice--success {
		background-color: $color-alert-success;

		&::before {
			content: "\f147";
		}
	}

	.everest-forms-notice--error {
		background-color: $color-alert-danger;

		&::before {
			content: "\f534";
			color: inherit;
		}

		.everest-forms-notice-list {
			margin: 0;
			list-style: none outside;

			.everest-forms-notice-list__item {
				margin-bottom: .5em;
			}
			.everest-forms-notice-list__item:last-child {
				margin-bottom: 0;
			}
		}
	}
}


/* Gutenberg Block
----------------------------------------------------------------------------- */

.edit-post-visual-editor {
	.everest-form-gutenberg-form-selector-wrap {
		.components-placeholder__label {
			margin-bottom: 0;

			svg {
				width: 75px;
				height: 75px;
				color: #7e3bd0;
			}
		}
		.components-placeholder__instructions {
			color: #23282d;
			font-size: 1.3em;
			font-weight: 600;
		}
		.components-placeholder__fieldset {
			.components-base-control {
				width: 100%;
			}
		}
	}
}

div.evf-gutenberg-form-selector .evf-frontend-row input:disabled,
div.evf-gutenberg-form-selector .evf-frontend-row textarea:disabled,
div.evf-gutenberg-form-selector .evf-frontend-row select:disabled,
div.evf-gutenberg-form-selector .evf-frontend-row button[type=submit]:disabled {
	cursor: not-allowed;
}

/* reCAPTCHA Area
----------------------------------------------------------------------------- */

.evf-recaptcha-container {
	clear: both;
	margin-bottom: 30px;

	.evf-error {
		border: 1px solid $color-alert-danger;
		background-color: lighten($color-alert-danger, 35%);
		padding: 7px 10px;
		color:darken($color-alert-danger, 10%);
		display: inline-block;
		margin-top: 15px;
		margin-bottom: 0;
		border-radius: 3px;
		font-weight: 300;
	}
}


@media screen and (max-width: 768px) {
	.everest-forms {
		.evf-field-container {
			.evf-frontend-row {
				flex-direction: column;
				margin: 0;

				.evf-frontend-grid {
					margin-bottom: 30px;
					padding: 0;

					&:last-child {
						margin-bottom: 0;
					}

					&.evf-grid-2,
					&.evf-grid-3 {
						width: 100%;
					}
				}
			}
		}

		.evf-recaptcha-container {
			margin: 25px 0;
		}
	}
}
