.evf-d-inline-block {
	display: inline-block;
}

.evf-d-flex {
	display: flex;
}

.evf-flex-wrap {
	flex-wrap: flex-wrap;
}

.evf-align-items-center {
	align-items: center;
}

.evf-align-items-end {
	align-items: flex-end;
}

.evf-ml-auto {
	margin-left: auto;
}

.evf-mr-auto {
	margin-left: auto;
}
