/**
 * EverestForms CSS Variables
 */
/*=====  Primary Color  ======*/
$everestforms:					#7e3bd0;
$everestforms-soft:				lighten($everestforms, 40%);

/*=====  Semantic Color  ======*/
// Colors for notifications
$green:							#4bce61;
$red:							#fa5252;
$orange:						#ffba00;
$blue:							#0095ff;

/*=====  Neutral colors  ======*/
// Gray shades
$color_gray-dark:				#23282d;
$color_gray-base:				#494d50;
$color_gray-normal:				#6c7680;
$color_gray-light:				#8e98a2;
$color_gray-lighten:			#cdd0d8;
$color_gray-more-lighten:		#e9ebf1;
$color_gray-light-skin:			#f6f7f9;

// White color
$color-white:					#fff;


$body-text:						$color_gray-base;
$muted-text: 					$color_gray-light;

// Border variables
$border-width:					1px;
$border-color: 					$color_gray-lighten;

// Input variables
$input-border-color:            $border-color;
$input-border-focus-color:      $everestforms;

/**
 * Font Size Variables
 */
$font_size-base: 14px;
$font_size-label: $font_size-base;
