/**
 * EverestForms CSS Variables
 */
/*=====  Primary Color  ======*/
$everestforms:					#7e3bd0;
$everestforms-soft:				lighten($everestforms, 40%);

/*=====  Semantic Color  ======*/
// Colors for notifications
$green:							#4bce61;
$red:							#fa5252;
$orange:						#ffba00;
$blue:							#0095ff;

/*=====  Neutral colors  ======*/
@import 'colors';
@import 'grids';
