/**
*Everest Forms Style
*/

// loader
.evf-loading {
	background: url('../images/icons/loader.svg');
    background-size: 20px 20px;
    display: inline-block;
    visibility: hidden;
    vertical-align: middle;
    opacity: 0.7;
    width: 20px;
    height: 20px;
    margin: 3px 0 0 5px;
    float: right;

	&.evf-loading-active {
		visibility: visible;
		-webkit-animation: rotating 1s linear infinite;
		-moz-animation: rotating 1s linear infinite;
		-ms-animation: rotating 1s linear infinite;
		-o-animation: rotating 1s linear infinite;
		animation: rotating 1s linear infinite;
	}
}

.everest-forms-add-fields-group,
.everest-forms-field-option-group {
	.handlediv {
		float: right;

		&::before {
			content: '\f142' !important;
			cursor: pointer;
			display: inline-block;
			font: 400 20px/1 'Dashicons';
			line-height: 0.5 !important;
			padding: 4px;
			position: relative;
			right: 0;
			top: 0;
		}
	}

	&.closed {
		.handlediv::before {
			content: '\f140' !important;
		}
	}
}

#everest-forms-builder {
	.evf-tab-content {

		h5 {
			margin: 0 auto 20px auto;
			font-size: 24px;
			line-height: normal;
		}

		.evf_smart_tag,
		.everest-forms-field-option-row-default_value {

			input[type="text"] {
				width: calc(100% - 30px);
			}
		}

		.evf-toggle-smart-tag-display {
			right: 0;
			width: 30px;
			height: 27px;
			color: #575757;
			position: absolute;
			background: $color-white;
			border: 1px solid #dddddd;
			border-left: transparent;
			box-shadow: inset 0 1px 2px rgba( 0, 0, 0, 0.07 );

			.dashicons-editor-code {

				&:before {
					left: 0;
					right: 0;
					margin: 0 auto;
					line-height: 26px;
					position: absolute;
				}
			}
		}

		.evf-smart-tag-lists {
			right: 0;
			z-index: 1;
			max-height: 123px;
			margin-top: -1px;
			width: 230px;
			overflow-y: auto;
			position: absolute;
			background: $color-white;
			border: 1px solid #dddddd;
			box-shadow: 0 2px 10px rgba(128, 128, 128, 0.20);

			.smart-tag-title,
			li {
				padding: 7px 10px;
			}

			.smart-tag-title {
				font-weight: 600;
				background: #f0f1f2;
				border-bottom: 1px solid #e0e3e6;
			}

			ul {
				margin: 0;
			}

			li {
				cursor: pointer;
				margin-bottom: 0;

				&:hover {
					background: #f8f9fA;
				}
			}
		}

		&.everest-forms-panel-field-textarea {
			.evf-smart-tag-lists {
				top: 40%;
			}
		}

		.everest-forms-panel {
			width: 100%;
			display: none;
			border-top: 1px solid #e0e3e6;

			&.active {
				display: block;
			}

			.everest-forms-sub-label {
				font-weight: 400;
				color: $color-gray-dark;
				margin-bottom: 0;
			}

			.everest-forms-panel-sidebar-content {
				display: flex;

				.everest-forms-panel-content-wrap {
					width: calc(100% - 400px);
				}
			}

			.everest-forms-one-half {
				float: left;
				width: 49%;
				margin-right: 2%;

				&:nth-child(2) {
					margin-right: 0;
				}
			}

			.everest-forms-field-row {
				margin: 0 0 10px 0;
				position: relative;
			}

			.everest-forms-panel-sidebar {
				width: 400px;
				height: calc(100vh - 150px);
				overflow-y: auto;
				overflow-x: hidden;
				background-color: #f8f9fa;
				border-right: 1px solid #E0E3E6;

				.everest-forms-add-fields-heading {
					display: block;
					font-size: 14px;
					font-weight: 500;
					margin-bottom: 15px;
					padding-bottom: 15px;
					color: $color-gray-darker;
					border-bottom: 1px solid #E0E3E6;

					i {
						float: right;
						font-size: 14px;
						margin-left: 5px;
						line-height: 1.5;
					}
				}

				.evf-registered-buttons {
					margin-right: -1.5%;
					margin-left: -1.5%;
					list-style: none;
					padding: 0;
					display: flex;
					flex-wrap: wrap;
				}

				.evf-registered-item {
					margin-left: 1.5%;
					margin-right: 1.5%;
					padding: 20px 8px;
					border: 1px solid #e0e3e6;
					width: 30.3%;
					z-index: 999;
					margin-bottom: 10px;
					color: $color-gray;
					cursor: pointer;
					border-radius: 2px;
					font-size: 12px;
					transition: 0.5s color ease-in-out, 0.5s border-color ease-in-out;
					text-align: center;
					background-color: $color-white;

					.dashicons {
						display: block;
						margin: 0 auto;
					}

					&.upgrade-modal {
						opacity: 0.6;
					}

					&:hover {
						color: $color-brand-primary;
						border-color: $color-brand-primary;

						.evf-icon {
							color: inherit;
						}
					}

					svg {
						width: 40px;
						height: 40px;
						display: block;
						margin: 0 auto 10px;

						.cls-1,
						.cls-2,
						.cls-3 {
							fill: #414042;
							transition: 0.5s fill ease-in-out;
							font-size: 7px;
							font-weight: 300;
						}
					}

					&:hover {
						color: $color-brand-primary;
						border-color: $color-brand-primary;

						svg {
							.cls-1,
							.cls-2,
							.cls-3 {
								fill: $color-brand-primary;
							}
						}
					}

					&.ui-draggable-dragging {
						margin: 0;
						border: 1px solid $color-brand-primary;
						width: 105px !important;
						color: $color-brand-primary;
						background-color: $color-white;
						position: relative;

						svg {

							.cls-1,
							.cls-2,
							.cls-3 {
								fill: $color-brand-primary;
							}
						}
					}

					&.ui-draggable-dragging {
						margin: 0;
						border: 1px solid $color-brand-primary;
						width: 105px !important;
						color: $color-brand-primary;
						background-color: $color-white;
						position: relative;
						z-index: 99999;

						svg {

							.cls-1,
							.cls-2,
							.cls-3 {
								fill: $color-brand-primary;
							}
						}
					}
				}

				.evf-setting--checkbox,
				.evf-field-option--checkbox {
					input,
					label {
						width: auto;
						padding: 0;
						display: inline-block;
						vertical-align: top;
						height: auto;
					}

					input {
						margin: 3px 5px 0 0;
					}
				}

				.everest-forms-field-options {
					display: none;

					.everest-forms-field-option-row {
						display: block;
						position: relative;
						margin-bottom: 15px;
						position: relative;

						&:last-child {
							margin-bottom: 0;
						}

						.inline {
							margin-bottom: 0;
							display: inline-block;
							vertical-align: top;
							margin-left: 5px;
						}
					}

					.everest-forms-field-option {
						display: none;
					}

					.everest-forms-field-option-group {
						&:last-child {
							.everest-forms-field-option-group-inner {
								border-bottom: none;
							}
						}
					}

					.everest-forms-field-option-group-toggle {
						background-color: $accordion-bg;
						border-bottom: 1px solid #E0E3E6;
						margin-bottom: 15px;
    					padding-bottom: 15px;
						font-size: 14px;
						font-weight: 600;
						display: block;
						color: $color-gray-darken;
					}

					.everest-forms-field-option-group-inner {
						padding-bottom: 15px;
						margin-bottom: 15px;
						border-bottom: 1px solid #E0E3E6;
					}
				}

				.evf-panel-tab {
					background-color: $accordion-content-bg;
					display: flex;
					align-items: center;
					justify-content: space-between;
					padding: 15px 20px;
					font-size: 14px;
					font-weight: 600;
					color: $color-gray-darken;
					border-bottom: 1px solid #e0e3e6;

					.everest-forms-toggle-arrow {
						font-size: 14px;
						margin-left: auto;
						line-height: 1.4;
					}

					&.active {
						color: $everestforms;
						background-color: $color-white;
						position: relative;

						.dashicons {
							transform: rotate(90deg);
						}
					}
				}

				.everest-forms-active-connections,
				.everest-forms-active-email {
					display: none;
					padding: 0 20px;
					margin-top: -1px;
					background: #fff;
					position: relative;
					border-bottom: 1px solid $border-color;

					&.active {
						display: flex;
						align-items: flex-end;
						flex-direction: column-reverse;
					}

					.everest-forms-connections-add,
					.everest-forms-email-add {
						background: #8e42eb;
						margin-bottom: 20px;

						&:hover {
							background: #7435c1;
						}
					}

					.everest-forms-active-connections-list,
					.everest-forms-active-email-connections-list {
						width: 100%;
						padding: 20px;
						display: flex;
						flex-wrap: wrap;
						margin: 0 0 20px;
						border: 1px solid $border-color;

						&.empty-list {
							display: none;
						}

						h4 {
							margin-top: 0;
						}

						li {
							width: 100%;
							display: flex;
							padding: 10px;
							cursor: pointer;
							margin-bottom: -1px;
							align-items: center;
							justify-content: space-between;
							transition: all 0.25s ease 0s;
							border: 1px solid $border-color;

							&.active-user {
								background: $color-white;

								.user-nickname {
									color: $everestforms;
									transition: all 0.25s ease 0s;
								}
							}

							&:hover {
								.user-nickname {
									color: $everestforms;
								}
							}

							.user-nickname {
								color: #444;
								font-weight: 600;
							}

							.toggle-remove {
								color: #444;
								cursor: pointer;
								position: relative;
								padding-left: 13px;
								transition: all 0.25s ease 0s;

								&:hover {
									color: $red;

									&::before,
									&::after {
										background: $red;
									}
								}

								&::before,
								&::after {
									top: 50%;
									left: 3px;
									width: 2px;
									content: "";
									height: 10px;
									position: absolute;
									background: #444;
									display: inline-block;
									transition: all 0.25s ease 0s;
								}

								&::before {
									transform: translateY(-50%) rotate(45deg);
								}

								&::after {
									transform: translateY(-50%) rotate(-45deg);
								}
							}
						}
					}
				}
			}

			.everest-forms-field-option-address {
				.default,
				.placeholder {
					width: 44%;
					float: left;
					margin-right: 2%;

					input {
						width: 99%;
					}

					label {
						font-weight: 400;
					}
				}

				.hide {
					input {
						margin: 10px 0 0 0;
					}
				}
			}
		}

		.everest-forms-panel-content-wrap {

			.evf-admin-row {
				display: flex;
				position: relative;
				margin-bottom: 15px;
				background-color: transparent;
				border: 1px solid transparent;
				transition: 0.5s border, 0.5s background-color;

				&:last-child {
					margin-bottom: 0;
				}

				.evf-toggle-row {
					color: #fff;
					position: absolute;
					right: 0;
					top: 0;
					z-index: 9999;
					visibility: hidden;
					opacity: 0;
					transition: 0.7s all;
					cursor: pointer;

					.evf-show-grid {
						display: inline-block;
						font-size: 12px;
						letter-spacing: 1px;
						font-weight: 600;
						text-transform: uppercase;
						vertical-align: top;

						span {
							&.dashicons {
								border-radius: 0;
							}
						}

						&:hover {
							span {
								&.dashicons {
									background-color: $color-alert-success;
								}
							}
						}
					}

					.evf-delete-row {
						display: inline-block;

						span {
							&.dashicons {
								border-radius: 0 0 0 3px;
								border-right: 1px solid $color-gray-dark;
							}
						}

						&:hover {
							span {
								&.dashicons {
									background-color: $color-alert-danger;
								}
							}
						}
					}

					span {

						&.dashicons {
							background: $color-gray-darker;
							font-size: 14px;
							height: auto;
							width: auto;
							color: $color-white;
							padding: 5px;
						}
					}

					.evf-toggle-row-content {
						display: none;
						position: absolute;
						width: 200px;
						padding: 30px;
						text-align: center;
						right: -20px;
						border-radius: 11px;
						background-color: $color-white;
						font-weight: 600;
						font-size: 12px;
						top: 40px;
						box-shadow: 0 0 39px rgba(0, 0, 0, 0.1);
						transition: 0.9s background-color;

						&::before {
							top: -5px;
							content: "";
							right: 45px;
							border-right: 6px solid transparent;
							border-bottom: 6px solid $color-white;
							border-left: 6px solid transparent;
							position: absolute;
						}

						> span {
							color: $color-gray-darker;
							display: block;
						}

						small {
							color: $input-color;
							margin-bottom: 10px;
							display: block;
						}

						.evf-grid-selector {
							height: 30px;
							width: 40px;
							border: 1px solid $color-gray-lighter;
							display: inline-block;
							margin: 3px;
							border-radius: 3px;

							span {
								height: 100%;
								display: inline-block;
								background: #fff;

								&:nth-child(n+1) {
									border-left: 1px solid $color-gray-lighter;
								}
								&:nth-child(1) {
									border-left: 0 none;
								}
							}

							&.active {
								border-color: $color-brand-primary;
								span {
									border-color: $color-brand-primary;

								}
							}

						}
					}

				}

				&:hover {
					background-color: $color-evf-hover;
					border: 1px dashed $button-color;

					.evf-admin-grid {
						border: 1px dashed $color-gray-light;
					}

					.evf-toggle-row {
						opacity: 1;
						visibility: visible;
					}
				}

				.evf-admin-grid {
					margin: 10px;
					padding: 10px;
					cursor: pointer;
					background: #fff;
					position: relative;
					border: 1px solid transparent;
					transition: 0.5s border, 0.5s background-color;

					&.evf-hover {
						border: 1px dashed $color-gray-light;

						&.evf-item-hover {
							position: relative;

							&::before {
								display: none;
							}
						}
					}

					&.evf-grid-1 {
						width: 100%;
					}

					&.evf-grid-2 {
						width: 50%;
					}

					&.evf-grid-3 {
						width: 30%;
					}

					.evf-registered-item {
						padding: 20px;
						font-size: 18px;
						min-height: 94px;

						&.ui-draggable {
							width: 100%;

							.evf-icon {
								display: inline-block;
							}
						}

						.evf-icon {
							font-size: 24px;
							vertical-align: middle;
						}

						.spinner {
							float: none;
							width: 25px;
							height: 25px;
							margin: 10px 0 5px 10px;
						}

						.dashicons {
							font-size: 22px;
							margin-top: 3px;
						}
					}

					.ui-sortable-placeholder {
						width: 100%;
						visibility: visible !important;
						background-color: transparentize( $blue, 0.95 );
						border: 1px dashed transparentize( $blue, 0.75 );
					}

					&.evf-empty-grid {
						display: flex;
						align-items: center;
						justify-content: center;
						position: relative;
						border: 1px dashed $color-gray-light;

						&:empty{

							&::before {
								content: "\f132";
								font-size: 40px;
								font-family: dashicons;
								line-height: 1.2;
								cursor: all-scroll;
								color: $color-gray-lighter;
							}
						}
					}
				}
			}

			.everest-forms-field-payment-single {

				.format-selected-single {

					.primary-input,
					.item-price-hidden {
						display: none;
					}
				}

				.format-selected-user {

					.item-price,
					.item-price-hidden {
						display: none;
					}
				}

				.format-selected-hidden {

					.item-price,
					.primary-input {
						display: none;
					}
				}
			}

			.everest-forms-field {
				cursor: move;
				padding: 15px;
				position: relative;
				margin-bottom: 10px;
				border: 1px solid transparent;
				border-radius: 3px;
				transition: 0.5s box-shadow;

				&:last-child {
					margin-bottom: 0;
				}

				&.everest-forms-field--first,
				&.everest-forms-field--last {
					width: 48.5%;
					margin-right: 3%;
					float: left;
				}

				&.everest-forms-field--last {
					margin-right: 0;
					float: right;
				}

				&.active {
					background: #fafafa;
					border: 1px solid $border-color;

					.evf-field-action {
						opacity: 1;
						visibility: visible;
					}
				}

				&.required label {
					.required {
						font-weight: 300;
						margin: 0 0 0 5px;
						display: inline-block;
						vertical-align: middle;
					}
				}

				&.ui-sortable-placeholder {
					border: 1px dashed transparentize( $blue, 0.75 );
				}

				input[type="checkbox"],
				input[type="radio"] {
					margin-right: 10px;
				}

				.evf-field-action {
					position: absolute;
					top: 15px;
					right: 15px;
					visibility: hidden;
					opacity: 0;
					transition: 0.5s all;

					a {
						color: $color-white;
						padding: 5px;
						background: $color-gray-darker;

						&:first-child {
							border-radius: 3px 0 0 3px;
							border-right: 1px solid $color-gray-dark;
						}

						&:last-child {
							border-radius: 0 3px 3px 0;
							border-left: 1px solid $color-gray-dark;
						}

						&.everest-forms-field-delete:hover {
							background-color: $color-alert-danger;
						}
						&:hover {
							background-color: $button-color;
						}
					}

					.dashicons {
						font-size: 15px;
						height: auto;
						width: auto;
					}
				}

				.everest-forms-sub-label {
					font-weight: 400;
					margin-bottom: 0;
					color: $color-gray-dark;
				}

				&.label_hide {
					.label-title {
						display: none;
					}
				}

				&.sublabel_hide {
					.everest-forms-sub-label {
						display: none;
					}
				}

				.everest-forms-confirm-enabled {
					display: flex;

					.everest-forms-confirm-primary,
					.everest-forms-confirm-confirmation {
						width: 50%;
						flex-wrap: wrap;
					}

					.everest-forms-confirm-primary {
						padding-right: 15px;
					}

					.everest-forms-confirm-confirmation {
						padding-left: 15px;
					}
				}

				.everest-forms-confirm-disabled {
					.everest-forms-confirm-primary {
						.everest-forms-sub-label {
							display: none;
						}
					}

					.everest-forms-confirm-confirmation {
						display: none;
					}
				}

				&:hover {
					border: 1px solid $border-color;
					.evf-field-action {
						visibility: visible;
						opacity: 1;
					}
				}

				&.ui-sortable-helper {
					padding: 20px 30px;
					height: auto !important;
					left: -20px;
					right: -20px;
					background-color: $color-white;

					&:hover {
						.evf-field-action {
							display: none;
						}
					}
				}

				label,
				input {
					cursor: all-scroll;
				}
			}

			.file-uploader {
				width: 100%;
				border: 2px dashed $border-color;
				background-color: $uploader-background;
				border-radius: 3px;
				cursor: pointer;
				text-align: center;
				padding-top: 30px;
				padding-bottom: 30px;
				position: relative;

				svg {
					width: 30px;
					height: 30px;
					fill: #BBBCBD;
					margin-bottom: 20px;
				}

				input {
					&.file-input {
						touch-action: manipulation;
						max-width: 100%;
						min-width: 14px;
						margin: 0;
						opacity: 0;
						height: 18px;
					}
				}

				.drop {
					display: block;
					font-size: 14px;
					font-weight: 600;
					color: $color-gray;
					margin-bottom: 10px;
				}

				.or {
					font-size: 12px;
					color: $color-gray-light;
					font-weight: 500;
					display: block;
					margin-bottom: 10px;

				}

				.file-control {
					position: absolute;
					bottom: 30px;
					color: $button-color;
					padding-bottom: 2px;
					display: block;
					left: 0;
					right: 0;

					&::before {
						content: "";
						width: 45px;
						background-color: $button-color;
						height: 1px;
						display: block;
						left: 50%;
						bottom: -2px;
						position: absolute;
						transform: translateX(-50%);
					}
				}
			}

			.publishing-action {
				width: 100%;
				text-align: right;
			}

			.submit-button {
				display: inline-block;
				font-size: 12px;
				font-weight: 600;
				color: $color-white;
				padding: 15px 20px;
				border: 0 none;
				background-color: $green;
				border-radius: 3px;
			}
		}

		label {
			font-size: 12px;
			margin-bottom: 15px;
			color: $color-gray-darker;
			display: block;
			font-weight: 600;

			i {
				color: $color-gray;
				font-size: 16px;
				line-height: 1.2;
			}

			.required {
				color: red;
				display: none;
			}
		}

		input:not(.ed_button),
		textarea:not(.wp-editor-area) {
			color: $color-gray-darker;

			&::placeholder {
				color: $input-color;
			}
		}

		textarea,
		textarea:not(.wp-editor-area) {
			height: 120px;
		}

		.evf-grid-lists {
			margin-left: -1.5%;
			margin-right: 1.5%;
			background-color: $accordion-bg;
			display: flex;

			.evf-grid-lists-item {
				padding-left: 1.5%;
				padding-right: 1.5%;
				background-color: $color-white;
			}
		}
		.evf-content-section-title {
			font-size: 24px;
			font-weight: 500;
			line-height: 34px;
			margin-bottom: 20px;
			padding-bottom: 20px;
			border-bottom: 1px solid $color-white-darken;
		}

		.everest-forms-panel-field {
			position: relative;
			margin-bottom: 20px;

			&.everest-forms-panel-field-tinymce {
				.evf-toggle-smart-tag-display {
					top: 38px;
					right: 5px;
				}
				.evf-smart-tag-lists {
				    top: 70px;
				}
			}
		}

		.evf-choices-list {

			li {
				input.value {
					display: none;
				}

				input[type="text"] {
					width: 73%;
				}

				a.add, a.remove {
					display: inline-block;
				}
			}
		}

		.everest-forms-field-option-row-choices {

			li {
				border: 1px solid transparent;
				border-radius: 4px;
				clear: both;
				cursor: all-scroll;
				margin-bottom: 2px;
				padding: 5px 10px;

				&:hover {
					background: $color-white;
					border: 1px solid $border-color;
				}

				input[type=text] {
					height: 30px;
					margin-right: 8px;
					vertical-align: middle;
				}

				a {
					background: $color-white;
					color: $color-gray-dark;
					display: inline-block;
					border-radius: 3px;
					border: 1px solid $border-color;
					text-align: center;
					margin-right: 8px;
					line-height: 1;
					padding: 3px;
					vertical-align: middle;

					&:last-child {
						margin-right: 0;
					}

					&:hover {
						background: $button-color;
						color: $color-white;
						border: 1px solid $button-color;
					}

					&.remove,
					&.removePayment {

						&:hover {
							background: $color-alert-danger;
							border: 1px solid $color-alert-danger;
						}
					}

					.dashicons {
						font-size: 16px;
						height: 16px;
						width: 16px;
					}
				}
			}
		}

		.everest-forms-field-option-payment-multiple,
		.everest-forms-field-option-payment-checkbox {

			.everest-forms-field-option-row {

				li {

					input[type=text] {
						width: 46%;
						margin-right: 8px;
						vertical-align: middle;

						&.value {
							width: 23%;
						}
					}
				}
			}
		}

		.evf-content-email-settings-inner {
        	display: none;
			-webkit-animation: fadeIn 0.5s;
			animation: fadeIn 0.5s;
            margin: 20px 0;

            &.active-connection {
            	display: block;
            }
        }
	}

	.evf-registered-item {
		z-index: 999;
		cursor: pointer;
		border-radius: 2px;
		font-size: 12px;
		text-align: center;
		margin: 0;
		background-color: $color-white;
		border: 1px solid $color-border-right;
		color: $color-gray;

		.evf-icon {
			color: inherit;
			display: block;
			font-size: 32px;
			margin-bottom: 5px;
		}

		&.ui-draggable-dragging {
			width: calc(100% - 20px) !important;
			text-align: center !important;
			font-size: 12px !important;
		}

		&.ui-sortable-placeholder {
			width: 100% !important;
		}
	}

	.everest-forms-field.ui-draggable-dragging {
		margin: 0;
		border: 1px solid $color-brand-primary;
		width: 105px !important;
		color: $color-brand-primary;
		background-color: $color-white;
		text-align: center;
		font-size: 12px!important;

		.evf-icon {
			color: inherit;
			display: block !important;
			font-size: 302x !important;
		}
	}
}

#everest-forms-panel-settings {
	.evf-content-section {
		display: none;

	}

	.evf-content-section.active {
		display: block;
	}
}

#everest-forms-panel-integrations {
	.evf-panel-content-section {
		display: none;

	}

	.evf-panel-content-section.active {
		display: block;
	}
}

.jconfirm.jconfirm-white,
.jconfirm.jconfirm-light {
	.jconfirm-box .jconfirm-buttons button {
		&.evf-confirm-btn,
		&.evf-cancel-btn {
			padding: 7px 15px;
			background-color: $color-gray-more-darken;
			color: $color-white;
			font-size: 12px;
			text-transform: uppercase;
			border: 0 none;
			border-radius: 5px;
			cursor: pointer;
			font-weight: 600;
		}
	}
}

@media screen and (max-width: 782px) {
	#everest-forms-builder {
		.evf-tab-content {
			.everest-forms-panel {

				.everest-forms-panel-sidebar,
				.everest-forms-panel-content-wrap {
					width: 100%;
				}

				.everest-forms-panel-sidebar {
					.evf-registered-buttons {
						.evf-registered-item {
							width: 30.3%;
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 600px) {
	#everest-forms-builder {
		.evf-tab-content {
			.everest-forms-panel-content-wrap {
				padding: 20px 20px 0;

				.evf-admin-row {
					flex-direction: column;
					margin: 0 0 20px;
					position: relative;

					.evf-admin-grid {
						&.evf-grid-1,
						&.evf-grid-2,
						&.evf-grid-3 {
							width: auto;
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 480px) {
	#everest-forms-builder {
		.evf-tab-lists li {
			a {
				padding: 15px;
			}

			.dashicons {
				font-size: 24px;
			}
		}

		.evf-tab-content {
			.everest-forms-panel {
				.everest-forms-panel-sidebar {
					.evf-registered-buttons {
						.evf-registered-item {
							width: 47%;
						}
					}
				}
			}
		}
	}

	.jconfirm.jconfirm-white .jconfirm-box,
	.jconfirm.jconfirm-light .jconfirm-box {
		width: 90% !important;
	}
}
