.evf-btn {
	border: none;
	display: inline-block;
    border-radius: 3px;
    border-width: 2px;
    color: $color-white;
    padding: 5px 15px;
    cursor: pointer;
    background-color: $color-gray-base;
    line-height: 26px;
    text-decoration: none;
	transition: all 0.3s ease 0s;
	position: relative;
	z-index: 1;
	overflow: hidden;

	&::before {
		content: "";
		display: block;
		background: transparentize($color-white, 0.5);
		box-shadow: 0px 0px 50px $color-white;
		position: absolute;
		padding-top: 300%;
		padding-left: 350%;
		margin-left: -20px;
		margin-top: -120%;
		border-radius: 100%;
		transition: 0.3s cubic-bezier(0.4, 0, 1, 1);
		z-index: -9;
		opacity: 0;
	}

	&:active {

		&:before {
			transform: translate(-90%, 32%);
			opacity: 1;
			transition: 0s;
		}
	}

    &:hover {
		color: $color-white;
    }

    &:focus {
        box-shadow: none;
        color: $color-white;
        outline: none;
    }
}
