.everest-forms-btn,
a.everest-forms-btn,
button.everest-forms-btn {
	border: none;
    cursor: pointer;
	overflow: hidden;
    border-width: 2px;
    padding: 5px 15px;
    line-height: 26px;
	position: relative;
    border-radius: 3px;
    color: $color-white;
	display: inline-block;
    text-decoration: none;
	transition: all 0.3s ease 0s;
    background-color: $color-gray-light;
	z-index: 1;

    &:hover {
		color: $color-white;
		background-color: desaturate(darken($color-gray-light, 10%), 5%);
    }

    &:focus {
        outline: none;
        box-shadow: none;
        color: $color-white;
    }
}
