.evf-btn {
    border: none;
    border-radius: 3px;
    border-width: 2px;
    color: $color-white;
    padding: 5px 15px;
    cursor: pointer;
    background-color: $color-gray-base;
    line-height: 26px;
    text-decoration: none;
    transition: all 0.3s ease 0s;

    &:hover {
        color: $color-white;
    }

    &:focus {
        box-shadow: none;
        color: $color-white;
        outline: none;
    }
}
