@font-face {
    font-family: 'evf-icon';
    src:  url('../fonts/evf-icon.eot?9p09xt');
    src:  url('../fonts/evf-icon.eot?9p09xt#iefix') format('embedded-opentype'),
      url('../fonts/evf-icon.ttf?9p09xt') format('truetype'),
      url('../fonts/evf-icon.woff?9p09xt') format('woff'),
      url('../fonts/evf-icon.svg?9p09xt#evf-icon') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  [class^="evf-icon-"], [class*="evf-icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'evf-icon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .evf-icon-total:before {
    content: "\e900";
  }
  .evf-icon-custom-html:before {
    content: "\e901";
  }
  .evf-icon-section-devider:before {
    content: "\e902";
  }
  .evf-icon-single-item:before {
    content: "\e903";
  }
  .evf-icon-multiple-choices-radio:before {
    content: "\e904";
  }
  .evf-icon-email-envelope:before {
    content: "\e905";
  }
  .evf-icon-multiple-choices:before {
    content: "\e906";
  }
  .evf-icon-last-name:before {
    content: "\e907";
  }
  .evf-icon-first-name:before {
    content: "\e908";
  }
  .evf-icon-checkbox:before {
    content: "\e909";
  }
  .evf-icon-radio:before {
    content: "\e90a";
  }
  .evf-icon-file-upload:before {
    content: "\e90b";
  }
  .evf-icon-html:before {
    content: "\e90c";
  }
  .evf-icon-hidden:before {
    content: "\e90d";
  }
  .evf-icon-password:before {
    content: "\e90e";
  }
  .evf-icon-map-marker:before {
    content: "\e90f";
  }
  .evf-icon-mobile:before {
    content: "\e910";
  }
  .evf-icon-website:before {
    content: "\e911";
  }
  .evf-icon-number:before {
    content: "\e912";
  }
  .evf-icon-dropdown:before {
    content: "\e913";
  }
  .evf-icon-paragraph:before {
    content: "\e914";
  }
  .evf-icon-date-time:before {
    content: "\e915";
  }
  .evf-icon-email:before {
    content: "\e916";
  }
  .evf-icon-text:before {
    content: "\e917";
  }  