/**
 * EverestForms Style Customizer CSS Variables
 */

$color__primary: #13a1dc;
$color__white: #fff;

// Gray colors.
$color__gray-base: #555d66;
$color__gray-dark: #6b7480;
$color__gray: #c4c7cc;
$color__gray-light: #bfc3c8;
$color__gray-lighter: #d6d8db;
$color__gray-lighter-skin: #f2f2f2;

// Extra colors.
$color__blue: #0095ff;
