/**
 * admin.scss
 * General admin styles.
 */

/**
 * Imports
 */
@import '../../../everest-forms/assets/css/mixins/mixins';
@import '../../../everest-forms/assets/css/variables/variables';

/**
 * Styling begins.
 */
#everest-forms-builder {
	.everest-forms-designer-icon {
		position: fixed;
		right: 22px;
		bottom: 65px;
		width: 55px;
		height: 55px;
		padding: 8px;
		z-index: 99999;
		cursor: pointer;
		border-radius: 50%;
		background: #0095ff;
		box-shadow: 1px 2px 20px #79c2f6;

		svg {
			fill: #fff;
		}
	}

	&.multi-part-activated {
		.everest-forms-designer-icon {
			bottom: 105px;
		}
	}
}

/**
 * Optimisation for screens 782px and smaller.
 **/
@media screen and (max-width: 782px) {
	#everest-forms-builder {
		&.multi-part-activated {
			.everest-forms-designer-icon {
				bottom: 75px;
			}
		}
	}
}
